%p Nesta primeira etapa a missão do EuParticipo será de transformar os Cidadãos em “Parlamentares Virtuais”. Para isso, você deverá se “Aliar” com um Parlamentar de sua preferência e, após essa aliança, fica habilitado a fazer parte do Mandato, podendo interagir de 10 formas possíveis: 

%p 1) acompanhar as votações e influenciar elas, 

%p 2) propor e opinar sobre as Leis, 

%p 3) propor e influenciar os discursos, 

%p 4) apresentar, acompanhar e reforçar denuncias, 

%p 5) propor e opinar sobre requerimentos, 

%p 6) propor e opinar sobre audiências publicas, 

%p 7) propor e opinar sobre homenagens, 

%p 8) propor e opinar sobre emendas orçamentárias, 

%p 9) acompanhar e interagir com as ações do mandato, 

%p 10) aprender sobre as funções do cargo a partir da experiência virtual de exercê-las. 

%p Existem 2 tipos de Relação entre o Cidadão e o Parlamentar: 

%p 1) Aliados: onde o Cidadão PARTICIPA do Mandato.

%p 2) Acompanhamento: onde o Cidadão apenas recebe as atualizações do parlamentar, mas NÃO PARTICIPA do Mandato.

%h5 Regras:

%p a) Você só pode se Aliar a 1 Parlamentar em cada um dos cargos, ou seja, a 1 Vereador, 1 Deputado Estadual, 1 Deputado Federal e 1 Senador, se habilitando com isso a PARTICIPAR do mandato. 

%p b) Sobre os demais Parlamentares presentes na Rede você poderá apenas “ACOMPANHAR” seus trabalhos, ou seja, você apenas receberá suas atualizações, não podendo participar dos Mandatos. 

%p c) A escolha de se Aliar a Parlamentares NÃO É OBRIGATÓRIA para nenhum dos cargos e você pode escolher se Aliar a apenas parte dos cargos disponíveis. Essa regra é a mesma para Acompanhamentos.

%p d) Você pode desfazer a Aliança ou trocar de Parlamentar Aliado a qualquer tempo. Essa regra é a mesma para Acompanhamentos.

%p e) Para se Aliar com um Parlamentar você deverá visitar o Perfil dele e abaixo de sua Foto clicar no Botão “ALIAR-ME”.