.btn-toolbar.top-toolbar
  .btn-group
    %a.btn.atuacao{:href => posso_ajudar_index_path()}
      = image_tag 'ico-tutorial.png'
      %br
      Tutorial
    %a.btn.atuacao{:href => "http://google.com"}
      = image_tag 'ico-checked.png'
      %br
      Sua Opinião
    %a.btn.atuacao{:href => contato_posso_ajudar_index_path()}
      = image_tag 'ico-message.png'
      %br
      Fale Conosco