#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1
            Fale Conosco

          %p Por esse canal, você pode nos contactar. Por aqui você poderá tirar dúvidas, nos comunicar erros, mandar sua ideia, denunciar perfis falsos (nos envie o link), nos dizer que parlamentares quer ver na Rede e dar sua opinião sobre o EuParticipo nos dizendo o que gostou e o que NÃO gostou, e o que achou fácil e difícil de usar.

          %br

          = form_tag(send_contact_path, method: :post, class: 'no-bottom-margin') do |f|
            = hidden_field_tag :origin, contato_posso_ajudar_index_path()
            %p.control-group
              = label_tag :name, "Nome", class: 'control-label'
              = text_field_tag :name, nil, class: 'span6', required: true
            %p.control-group
              = label_tag :email, "E-mail", class: 'control-label'
              = email_field_tag :email, nil, class: 'span6', required: true
            %p.control-group
              = label_tag :subject, "Assunto", class: 'control-label'
              = text_field_tag :subject, nil, class: 'span6'
            %p.control-group
              = label_tag :message, "Mensagem", class: 'control-label'
              = text_area_tag :message, nil, :rows => 15, class: 'span6', required: true
          
    
            = submit_tag "Enviar", class: 'btn btn-primary pull-right'


      .span3
        = render 'users/right_column'