#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1
            Como Funciona o EuParticipo

          = render 'help/inicio'

      .span3
        = render 'users/right_column'