#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1 Posso Ajudar?
                
          = render 'toolbar'
          
          %br
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in dictum tortor. Aenean pharetra arcu dui, sed vehicula eros adipiscing vitae. Curabitur varius posuere iaculis. Nullam a dapibus diam, sed ullamcorper justo. Duis volutpat libero ligula, id tincidunt lorem fermentum nec. Vestibulum vel magna non dolor laoreet egestas. Pellentesque gravida est non placerat scelerisque. Vivamus nisi turpis, ornare id ultricies ac, dapibus vitae erat.
          
        -#%input{type: 'hidden', value: 1, id: 'pagination-count'}
        -#posts
          -#= render 'users/posts', posts: @posts
        -#%button{id: 'pagination-button', href: user_path(@user), class: 'btn btn-primary'} Ver mais

      .span3
        = render 'users/right_column'
