#content-index
  .container
    .row
      .span3
        = render 'users/left_column'
        
      .span6.main-content
        #invite.main-content-wrapper
        
          %h1.subtitle Convide +1 
          
          /%p= image_tag "invite.png", :class => "invite-img"
          
          %p.section
            Convide seus amigos para o 
            %b EuParticipo:
          .row.section
            .span3
              %a.btn.btn-block.btn-large.btn-social.facebook{href: fb_invite_url(current_user)}
                =image_tag "ico_facebook.png"
                Facebook
              %p.align-center.help-inline.button-help Via mensagem privada
            .span3
              %a.btn.btn-block.btn-large.btn-social.twitter{href: twttr_invite_url()}
                =image_tag "ico_twitter.png"
                Twitter
              %p.align-center.help-inline.button-help Via tweet
        
      .span3
        = render 'users/right_column'
        
    
        
