#content-index
  .container.container-main
    .row
      .span3
        = render 'admin/partials/left_column'
      
      .span6.main-content
        .page-header
          Administração: Político pendente de aprovação
          
        %dl.dl-horizontal
          %dt Nome Político
          %dd= @user.political_nickname
          
          %dt Email
          %dd= @user.email
         
          %dt Partido
          %dd= @user.party.name
          
          %dt Cargo Atual
          %dd
            = @user.political_position
            = "-"
            = @user.political_city.name
            = "-"
            = @user.political_state.name
          
          - if @user.city
            %dt Cidade
            %dd
              = @user.city.name
              = "-"
              = @user.city.state.name
          
          %dt Nascimento
          %dd= @user.birthday.strftime("%d/%m/%Y")
          
          %dt Gênero
          %dd= @user.gender
          
          %dt Telefone
          %dd
            = @user.phone1
            - if !@user.phone2.blank?
              = "/ #{@user.phone2}"
          
          %dt Foto
          %dd= image_tag @user.photo.url
          
        .form-actions
          = link_to 'Aprovar', approve_admin_pending_politician_path(@user.id), class: 'btn btn-success'
          = link_to 'Recusar', deny_admin_pending_politician_path(@user.id), class: 'btn btn-danger pull-right'
          
      .span3
        = render 'admin/partials/right_column'
