#wrap
  #top-bar
    .container
      .row
        .span6
          = image_tag 'logo.png'
      
        .span6
          %form.form-inline.pull-right{:action => user_session_path, :method => 'post'}
            %input.hide{:type => 'hidden', :name => 'authenticity_token', :value => form_authenticity_token}
            .control-group
              %input.input-small{:placeholder => "Email", :name => "user[email]", :type => "text", :class => "email"}
              %input.input-small{:placeholder => "Senha", :name => "user[password]", :type => "password"}
              %button.btn.btn-inverse{:type => "submit"} Entrar
            .options
              %label.checkbox
                %input{:type => "checkbox"}/
                Manter conectado
                
              .pull-right
                %a Esqueceu senha?
              
  #content-index
    .container
      .row
        .span6.video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "345", :src => "//www.youtube.com/embed/hblBL1KTTfw", :width => "460"}
        .span6.form
          %form.form-horizontal.pull-right
            %h2 Faça o seu Cadastro
            %h4 É rápido!
            .control-group
              %label.control-label{:for => "inputName"} Nome
              .controls
                %input{:type => "text"}
            .control-group
              %label.control-label{:for => "inputLastname"} Sobrenome
              .controls
                %input{:type => "text"}
            .control-group
              %label.control-label{:for => "inputBirthdate"} Data de Nascimento
              .controls
                %input#inputBithdate.day.pull-left{:type => "text"}
                %input#inputBithdate.day.pull-left{:type => "text"}
                %input#inputBithdate.year.pull-left{:type => "text"}
            .control-group
              %label.control-label{:for => "inputGender"} Gênero
              .controls
                %select
                  %option Feminino
                  %option Masculino
            .control-group
              %label.control-label{:for => "inputEmail"} E-mail
              .controls
                %input#inputEmail{:type => "text"}
            .control-group
              %label.control-label{:for => "inputEmailConfirmation"} Confirme seu E-mail
              .controls
                %input#inputPassword{:type => "text"}
            .control-group
              %label.control-label{:for => "inputPassword"} Crie uma Senha
              .controls
                %input#inputEmail{:type => "password"}
            .control-group
              %label.control-label{:for => "inputPhoto"} Foto
              .controls                  
                .input-append.pull-left
                  %input#inputPhoto.span2{:type => "text"}
                  %button.btn{:type => "button"} Procurar
            .control-group
              .controls
                %button.btn.btn-inverse.register{:type => "submit"} Cadastrar
                
            .parlamentar
              %strong
                É Parlamentar? Cadastre-se aqui:
                %a Parlamentares

  #push

#footer
  .container
    .pull-left
      Desenvolvido por 
      %a
        EuParticipo
      ® 2013 | Todos os direitos reservados.
    %ul.inline.pull-right
      %li
        %a
          Quem Somos
      %li.divider &middot;
      %li
        %a
          Termos de Uso
      %li.divider &middot;
      %li
        %a
          Política de Privacidade 
      %li.divider &middot;
      %li
        %a
          Contato