=render 'layouts/topbar'
#all
  .container.container-main
    .row
      .span3
        .column_left
          = image_tag '/assets/foto-profile.jpg', :class => 'photo_profile'
          %h3 Camila Castro
          .about.text-left
            %p 
              %span Mora em:
              %i Fortaleza, CE
            %P 
              %span De: 
              %i Poço de Caldas, MG
            %p 
              %span Trabalho: 
              %i ONG GRAB
            %p 
              %span Escolaridade: 
              %i Doutouranda em Saúde Pública pela UFC
            %p 
              %span Está: 
              %i Casada
            %p 
              %span Aniversário: 
              %i 05/Julho
            %p 
              %span Preferência Política: 
              %i Esquerda
            %p 
              %span Sobre mim: 
              %i Sou a mãe da Ananda.
            %p 
              %span Citação Favorita: 
              %i Nada é permanente, exceto a mudança.
              
          .btn.btn-primary
            Camila Participa
          
          -#.btn.btn-inverse
            Mensagens
              
          .title_count
            327 Amigos
              
          %ul.inline
            %li
              = image_tag '/assets/foto-profile.jpg', :class => 'photo_friend'
            %li 
              = image_tag '/assets/foto-profile.jpg', :class => 'photo_friend'
            %li
              = image_tag '/assets/foto-profile.jpg', :class => 'photo_friend'
          %ul.inline
            %li
              = image_tag '/assets/foto-profile.jpg', :class => 'photo_friend'
            %li
              = image_tag '/assets/foto-profile.jpg', :class => 'photo_friend'
            %li
              = image_tag '/assets/foto-profile.jpg', :class => 'photo_friend'
      .span6.main-content
        .main-content-wrapper
          .speak
            Fale
            .row-fluid
              %textarea.span12
            %a.btn.btn-primary.pull-right
              Falei!
            
        .clearfix
        .post
          .post-topbar
            = image_tag '/assets/foto-profile.jpg', :class => 'photo_post'
            .post-name
              Camila Castro
              %br
              %span 03 de Julho de 2013
          .post-text
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat eleifend ante, at tincidunt ligula auctor at. Mauris varius venenatis tristique. Mauris condimentum, lorem id aliquet venenatis, est arcu vehicula lacus, nec cursus felis nunc tempus nunc. Aliquam ut hendrerit metus. In interdum sodales est. Mauris ac mi nulla. Quisque mauris nibh, mollis nec adipiscing et, laoreet vitae nibh. Praesent venenatis dapibus justo a faucibus. Sed sit amet dolor orci. Quisque rutrum sem et gravida porta. Nulla vel sodales sem. Integer tempor pretium auctor. Nulla in mattis nisl. Nullam vehicula vitae neque non blandit.
          .post-feedback
            %a
              Curtir  5
            %a
              Comentar  2
          .post-coment
            = image_tag '/assets/foto-profile.jpg', :class => 'photo_coment'
            .coment-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat eleifend ante, at tincidunt ligula auctor at. Mauris varius venenatis tristique. Mauris condimentum, lorem id aliquet venenatis, est arcu vehicula lacus, nec cursus felis nunc tempus nunc. Aliquam ut hendrerit metus. In interdum sodales est. Mauris ac mi nulla. Quisque mauris nibh, mollis nec adipiscing et, laoreet vitae nibh. Praesent venenatis dapibus justo a faucibus. Sed sit amet dolor orci. Quisque rutrum sem et gravida porta. Nulla vel sodales sem. Integer tempor pretium auctor. Nulla in mattis nisl. Nullam vehicula vitae neque non blandit.
          
      .span3
        .column_right
          .title_count
            Parlamentares Aliados            
          .ally
            = image_tag '/assets/foto-profile.jpg', :class => 'photo_ally'
            .description_ally
              %span
                Vereador
                = image_tag '/assets/ally-pt.png', :class => 'flag_ally pull-right'
              Guillherme Sampaio
          .ally
            = image_tag '/assets/foto-profile.jpg', :class => 'photo_ally'
            .description_ally
              %span
                Deputado
                = image_tag '/assets/ally-pt.png', :class => 'flag_ally pull-right'
              Guillherme Sampaio
          .ally
            = image_tag '/assets/foto-profile.jpg', :class => 'photo_ally'
            .description_ally
              %span
                Deputado
                = image_tag '/assets/ally-pt.png', :class => 'flag_ally pull-right'
              Guillherme Sampaio
          .ally
            = image_tag '/assets/foto-profile.jpg', :class => 'photo_ally'
            .description_ally
              %span
                Senador
                = image_tag '/assets/ally-pt.png', :class => 'flag_ally pull-right'
              Guillherme Sampaio