.form.password-new
  %h2 Reenviar Instruções de Confirmação

    
  = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :method => 'post',
                                                    :html => {:class => 'form-horizontal'}) do |f|
    = devise_error_messages!

    = f.input :email, :autofocus => true
    = f.submit "Reenviar instruções de confirmação", class: 'btn btn-primary'
    
  .clearfix
  
  = render "devise/shared/links"