%div{id: "vote-#{user.id}"}
  - if user_signed_in? && current_user != user
    - if vote = UserVote.where(user_id: current_user.id, voted_user_id: user.id).first
      = link_to 'Remover', user_vote_path(user, vote), method: :delete, class: 'btn btn-success btn-pushed'
    - else
      - confirm = nil
      - if previous_vote = UserVote.where(user_id: current_user.id).first
        - confirm = "Você já escolheu #{previous_vote.voted_user.name}. Tem certeza que deseja trocar?"
      = link_to 'Me Representa', user_votes_path(user), method: :post, class: 'btn btn-primary', confirm: confirm
