#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1 Me Representa!

          %p
            Quem dentre seus amigos te representa?
            %br
            Você só pode escolher um, e pode mudar a qualquer tempo.
          
          %div{class: ('main-content-toolbar' if user_signed_in? && current_user != @user)}
            = render 'user_votes/vote_button', user: @user

          %h3= "#{@user.name} escolheu:"
          - if @my_vote
            - user = @my_vote.voted_user
            .search-card
              .search-card-photo
                = link_to (image_tag user.photo.thumb.url), user_path(user)
              .search-card-text
                - ident = "#{user.name} #{user.last_names}"
                = link_to ident, user_path(user), class: 'post-author-name'
                %br
                - if user.city
                  %span= user.city.name
                - if user.state
                  %span= ' - ' + user.state.abbreviation
              .clearfix
          - else
            %p.empty-alert= "#{@user.name} ainda não escolheu um representante."
            
          %h3= "Escolheram #{@user.name}:"
          - if @votes.count > 0  
            - @votes.each do |v|
              - user = v.user
              .search-card
                .search-card-photo
                  = link_to (image_tag user.photo.thumb.url), user_path(user)
                .search-card-text
                  - ident = "#{user.name} #{user.last_names}"
                  = link_to ident, user_path(user), class: 'post-author-name'
                  %br
                  - if user.city
                    %span= user.city.name
                  - if user.state
                    %span= ' - ' + user.state.abbreviation
                      
                .clearfix
              
            = paginate @votes
          - else
            %p.empty-alert= "Ninguém ainda escolheu #{@user.name} como representante." 

      .span3
        = render 'users/right_column'
