- if params[:user]

  - if params[:user][:role] == 'Cidadão'
    %h2 Cadastro de Cidadão
    = render 'home/form_cadastro_cidadao'

  - else
    %h2 Cadastro de Parlamentar
    = render 'home/form_cadastro_politico'

- elsif params[:tipo] == 'parlamentar'
  .pull-right
    %h2 Cadastro de Parlamentar
    = render 'home/form_cadastro_politico'

- else

  %h2 Cadastro de Cidadão
  = render 'home/form_cadastro_cidadao'
