- if user_signed_in?
  - id = "invite-politician-#{politician.id}"
  - if !PoliticianInvite.can_invite?(current_user.id, politician.id)
    = link_to 'Convidado', '#', class: 'btn btn-success btn-block btn-pushed btn-follow', id: id
  - else
    = link_to 'Convidar', invite_politician_invite_path(politician), class: 'btn btn-primary btn-block btn-follow', id: id, remote: true