#politician-invites-listing
  - if @results
    - if @results.total_count > 0
      - @results.each do |r|
        .search-card
          .search-card-photo
            = image_tag r.photo.thumb.url, width: 40
          .search-card-text
            %strong.post-author-name= r.name
            %br
            - if r.political_position
              %span
                = r.political_position
                
          .search-card-actions
            = render 'invite_politician_button', politician: r
            
          .clearfix
       
      = paginate @results
    - else
      %p.empty-alert Nenhum parlamentar foi encontrado na nossa base de dados para esta pesquisa.