#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1
            Convidar Parlamentares

          %p.empty-alert
            Nós iremos comunicar os parlamentares escolhidos do seu convite para que também juntem-se ao EuParticipo.
          
          %hr
          
          = form_tag(search_politician_invites_path, method: :get, remote: true, class: 'form-inline') do |f|
            = select_tag :political_position, 
                         options_for_select([['Vereador', 'Vereador'],
                                             ['Deputado Estadual', 'Deputado Estadual'],
                                             ['Deputado Federal', 'Deputado Federal'],
                                             ['Senador', 'Senador']], params[:political_position]), 
                         prompt: 'Todos os Cargos',
                         style: 'width: 150px;'
            = text_field_tag :name, params[:name], style: 'width: 180px;', placeholder: 'Busque pelo nome...'
            %button{type: 'submit', class: 'btn'}
              Buscar
              
          = render 'listing'

      .span3
        = render 'users/right_column'

= render 'photos/modal_wrapper'
      
= render 'posts/modal_likes'
