<% if @success %>
  $("#invite-politician-<%= @politician.id %>").replaceWith("<%= j render 'invite_politician_button', politician: @politician %>")
<% else %>
  alert("Desculpe, não foi possível convidar este parlamentar.")
<% end%>
