<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Olá, <strong><%= @user.short_name %></strong>,</p>
    <p>Sua conta no <strong>EuParticipo</strong> foi confirmada.
      Para acessar sua conta, entre em <a href="http://www.euparticipo.com.br">http://www.euparticipo.com.br</a> e informe seu email e senha.</p>
    <p>Obrigado,</p>
  </body>
</html>
