.post-comment{id: "comment-#{comment.id}"}
  %input{type: 'hidden', name: 'post-comment-id', value: comment.id}
  = link_to (image_tag comment.user.photo.thumb.url, :class => 'photo_comment'),
    user_path(comment.user)
  = link_to (comment.user.name), user_path(comment.user), :class => 'post-comment-name'
  %span.time
    &middot;
    = time_ago_in_words(comment.created_at.in_time_zone)
    atrás
  //debug
  /%span= comment.created_at.in_time_zone
  //debug
  - if current_user
    - if current_user.id == comment.user.id
      = link_to user_post_comment_path(current_user, comment.post, comment), method: 'delete', remote: true, class: 'post-comment-deletion pull-right delete-icon font_color_gray' do 
        &times;
  .post-comment-text
    = markdown_comment comment.content