new_comment = $('#post-<%= @post.id %> .new-comment-form.post-comment')
new_comment.before("<%= j render 'comment', comment: @comment %>")

new_comment.find('textarea').val('')
new_comment.find('form').hide()
new_comment.find('.comment-trigger').show()

count = $('#post-<%= @post.id %> .post-comments-count')
n = $(count).text()
$(count).text(++n)

$(document).trigger('commentsUpdated')