<% if defined?(@error) %>
  alert("<%= j @error %>")
<% else %>
  $("#post-<%= @post.id %> .see-all-comments").hide()
  
  <%- @comments.reverse.each do |c| %>
    if ($("#comment-<%= c.id %>").size() == 0) {
      $("#post-<%= @post.id %> .post-comments").prepend("<%= j render 'comments/comment', post: @post, comment: c %>")
    }
  <% end %>
<% end %>