#content-index
  .container.container-main
    .row
      .span3
        = render 'admin/partials/left_column'
      
      .span6.main-content
        .page-header
          %h1 Administração
          
        %h2 Parlamentares pendentes de aprovação
        %table.table.table-striped
          %thead
            %tr
              %th
                Nome
              %th
                Data
          %tbody
            - @pending.each do |p|
              %tr
                %td
                  = link_to p.political_nickname, admin_pending_politician_path(p.id)
                %td= p.created_at.strftime("%d/%m/%Y") 

      .span3
        = render 'admin/partials/right_column'