.container.container-main
  .row
    .span3
      .column_left
        - if @user
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'
        - else
          /
    .span6.contact
      %h2 Novidades
      
      %table.table#notifications-list
        %tbody
          - @notifications.each do |n|
            - begin
              - url = notification_link_path(n)
              - image_url = notification_image_path(n)
              - text = notification_text(n)
            - rescue ActiveRecord::RecordNotFound, NoMethodError
              - next
              
            %tr{class: ('unread' if n.updated_at >= @last_read)}
              %td.photo
                = link_to url do
                  = image_tag image_url
              %td.description
                = link_to url do
                  = raw text
                %small.time
                  = time_ago_in_words(n.updated_at)
                  atrás
    .span3
      = render 'users/right_column'
