- unless !user_signed_in? or current_user.id == user.id
  - id = "follow-#{user.id}"
  - if current_user.follows?(user)
    = link_to 'Acompanhando', unfollow_user_path(user), class: 'btn btn-success btn-block btn-pushed btn-follow', id: id, remote: true
  - else
    = link_to 'Acompanhar', follow_user_path(user), class: 'btn btn-primary btn-block btn-follow', id: id, remote: true
