- @followers = @user.followers.to_a
- @followeds = @user.followeds.to_a
- @follows = @user.is_politician? ? @user.allied_citizens : @followeds & @followers
- @followers = @followers - @follows
- @followeds = @followeds - @follows
- @follows_count = @follows.count

- if @follows.size > 0
  .title_count
    .clean-link
      = link_to ('Aliados de ' + @user.first_name + ' (' + @follows_count.to_s + ')'), allies_path(@user)
  
  %ul.inline
    - for i in 0..15
      - break if !@follows[i]
      %li= follows_widget_icon(@follows[i])

- if @followeds.size > 0
  .title_count
    .clean-link
      = link_to (@user.first_name + ' Acompanha (' + Follow.following_only(@user).count.to_s + ')'), following_path(@user)
  
  %ul.inline
    - for i in 0..7
      - break if !@followeds[i]
      %li= follows_widget_icon(@followeds[i])

- if @followers.size > 0
  .title_count
    .clean-link
      = link_to ('Acompanham ' + @user.first_name + ' (' + Follow.followers_only(@user).count.to_s + ')'), followers_path(@user)
  
  %ul.inline
    - for i in 0..7
      - break if !@followers[i]
      %li= follows_widget_icon(@followers[i])