= simple_form_for @editable_user, :url => user_path(@user), :method => 'patch',
                         :html => { id: 'form-politician', :class => 'form-horizontal' } do |f|
  = f.input :name, label: 'Nome'
  = f.input :last_names, label: 'Sobrenome'
  = f.input :political_nickname, label: 'Nome Político', required: true
  = f.input :email, label: 'Email'

  = f.input :phone1, required: true, label: 'Telefone do Mandato'
  = f.input :phone2, label: 'Telefone do Mandato 2'

  = f.input :party_id, as: 'select', label: 'Partido', collection: Party.all, prompt: 'Selecione um partido', required: true
  = f.input :political_position, label: 'Cargo Político Atual', prompt: 'Escolha um cargo político', required: true,
             collection: [['Vereador', 'Vereador'],
                          ['Deputado Estadual', 'Deputado Estadual'],
                          ['Deputado Federal', 'Deputado Federal'],
                          ['Senador', 'Senador']]


  / locais do mandato
  = f.input :political_state_id, collection: State.all, prompt: 'Selecione um Estado', label: 'Estado do Mandato',
            input_html: { id: 'user-mandate-state' }

  - if @editable_user.political_state_id
    = f.input :political_city_id, as: 'select', collection: City.where(state_id: @editable_user.political_state_id).order('name ASC'),
              include_blank: 'Selecione uma cidade',
              input_html: { id: 'user-mandate-city' }, label: 'Cidade do Mandato'
  - else
    = f.input :political_city_id, as: 'select', collection: [], include_blank: 'Selecione um Estado',
              input_html: { id: 'user-mandate-city' }, label: 'Cidade Atual'


  /
  = f.input :state_id, collection: State.all, prompt: 'Selecione um Estado', label: 'Estado Atual',
            input_html: { id: 'user-current-state' }

  - if @editable_user.state_id
    = f.input :city_id, as: 'select', collection: City.where(state_id: @editable_user.state_id).order('name ASC'),
              include_blank: 'Selecione uma cidade',
              input_html: { id: 'user-current-city' }, label: 'Cidade Atual'
  - else
    = f.input :city_id, as: 'select', collection: [], include_blank: 'Selecione um Estado',
              input_html: { id: 'user-current-city' }, label: 'Cidade Atual'


  / locais natais
  = f.input :from_state_id, collection: State.all, prompt: 'Selecione um Estado', label: 'Estado Natal',
            input_html: { id: 'user-from-state' }

  - if @editable_user.from_state_id
    = f.input :from_city_id, as: 'select', collection: City.where(state_id: @editable_user.from_state_id).order('name ASC'),
              include_blank: 'Selecione uma cidade',
              input_html: { id: 'user-from-city' }, label: 'Cidade Natal'
  - else
    = f.input :from_city_id, as: 'select', collection: [], include_blank: 'Selecione um Estado',
              input_html: { id: 'user-from-city' }, label: 'Cidade Natal'


  .birth_welcome
    = f.input :birthday, :as => 'date', label: 'Nascimento', use_short_month: true, start_year: Date.today.year - 100, end_year: Date.today.year - 5, discard_today: true
    .control-group.show-birthday
      %label.control-label
      .controls
        %label.checkbox
          = f.check_box :show_birthday
          Exibir aniversário (sem o ano)?

  = f.input :gender, label: 'Gênero', :collection => [ 'Masculino', 'Feminino' ], prompt: false

  = f.input :work_info, label: 'Profissão', placeholder: 'Escreva sobre seu trabalho'
  = f.input :scholarship, label: 'Escolaridade', placeholder: 'Escreva sobre sua escolaridade', as: :text, input_html: {rows: 3}

  /= f.input :password
  /= f.input :password_confirmation, required: true

  = f.input :photo, as: 'file', label: 'Foto para Perfil'
  
  .form-actions
    = f.button :submit, value: 'Salvar', class: 'btn btn-primary pull-right'

