= simple_form_for @editable_user, :url => user_path(@user), :method => 'patch',
                         :html => { id: 'form-citizen', :class => 'form-horizontal' } do |f|
  = f.input_field :role, as: 'hidden', input_html: { value: 'Cidadão' }
  = f.input :authenticity_token, as: 'hidden', input_html: { value: form_authenticity_token }, wrapper: false

  = f.input :name, label: 'Nome', input_html: {maxlength: 13}
  = f.input :last_names, label: 'Sobrenome', input_html: {maxlength: 13}
  = f.input :email, label: 'Email'
  /= f.input :token, label: 'Nome de Usuário', hint: 'Seu endereço na rede será euparticipo.com.br/seu-nome-de-usuário'

  .birth_welcome
    = f.input :birthday, :as => 'date', label: 'Nascimento', use_short_month: true, start_year: Date.today.year - 100, end_year: Date.today.year - 5, discard_today: true
    .control-group.show-birthday
      %label.control-label
      .controls
        %label.checkbox
          = f.check_box :show_birthday
          Exibir aniversário (sem o ano)?
  = f.input :gender, label: 'Gênero', :collection => [ 'Masculino', 'Feminino' ], prompt: false
  = f.input :relationship_status, label: 'Relacionamento', :collection => [ 'Casado(a)', 'Solteiro(a)', 'Namorando', 'Noivo(a)', 'Divorciado(a)', 'Viúvo(a)' ], include_blank: 'Escolha'
  = f.input :about_me, label: 'Sobre mim', placeholder: 'Escreva um pouco sobre você', input_html: {rows: 3}
  = f.input :political_preference, label: 'Preferência política', :collection => [ 'Extrema Esquerda', 'Esquerda', 'Centro Esquerda', 'Centro', 'Centro Direita', 'Direita', 'Extrema Direita' ], include_blank: 'Escolha uma preferência'
  = f.input :work_info, label: 'Trabalho', placeholder: 'Escreva sobre seu trabalho'
  = f.input :scholarship, label: 'Escolaridade', placeholder: 'Escreva sobre sua escolaridade', as: :text, input_html: {rows: 3}
  = f.input :favorite_quote, label: 'Citação favorita'

  /= f.input :password
  /= f.input :password_confirmation, required: true

  / atual
  = f.input :state_id, collection: State.all, prompt: 'Selecione um Estado', label: 'Estado onde Mora',
            input_html: { id: 'user-current-state' }

  - if @editable_user.state_id
    = f.input :city_id, as: 'select', collection: City.where(state_id: @editable_user.state_id).order('name ASC'),
              include_blank: 'Selecione uma cidade',
              input_html: { id: 'user-current-city' }, label: 'Cidade onde Mora'
  - else
    = f.input :city_id, as: 'select', collection: [], include_blank: 'Selecione um Estado',
              input_html: { id: 'user-current-city' }, label: 'Cidade onde Mora'

  / locais natais
  = f.input :from_state_id, collection: State.all, prompt: 'Selecione um Estado', label: 'Estado onde Nasceu',
            input_html: { id: 'user-from-state' }

  - if @editable_user.from_state_id
    = f.input :from_city_id, as: 'select', collection: City.where(state_id: @editable_user.from_state_id).order('name ASC'),
              include_blank: 'Selecione uma cidade',
              input_html: { id: 'user-from-city' }, label: 'Cidade onde Nasceu'
  - else
    = f.input :from_city_id, as: 'select', collection: [], include_blank: 'Selecione um Estado',
              input_html: { id: 'user-from-city' }, label: 'Cidade onde Nasceu'

  = f.input :photo, as: 'file', label: 'Foto para Perfil'
  
  .form-actions
    = f.button :submit, value: 'Salvar', class: 'btn btn-primary pull-right'