= link_to (image_tag @user.get_photo, :class => 'photo_profile', width: 180), user_path(@user)

- if @user.political_nickname
  %h3= link_to @user.political_nickname, user_path(@user), class: 'post-author-name'

  .political-info.small-section
    - if @user.political_position
      %span= @user.political_position_gendered
      %br

    - if @user.political_state and @user.political_city
      %span= @user.political_city.name + ' - ' + @user.political_state.abbreviation
      = image_tag "estados/#{@user.political_state.abbreviation.downcase}.png", :class => 'flag'
      %br
    - elsif @user.political_city
      %span= @user.political_city.name  
      %br
    - elsif @user.political_state
      %span= @user.political_state.name
      %br

    - if @user.party
      %span= @user.party.name
      = image_tag "partidos/#{@user.party.name.parameterize}.png", :class => 'flag'

.alliance-button
  = render 'allied_politicians/alliance_button_widget', user: @user
  = render 'users/follow_button_widget', user: @user

.like-points
  .support.pull-left{rel: :tooltip, title: 'Curtidas recebidas em postagens feitas para discussão com seus aliados.'}
    = image_tag 'ico-hand-like.png', :class => 'icon pull-left'
    .number.pull-left
      = @user.plato_count
      .title
        Apoios
  .support.represent.pull-right{rel: :tooltip, title: 'Postagens feitas para discussão com seus aliados.'}
    .cima
      = @user.socrates_count
    .baixo
      Engajamento

  .clearfix

.bs-docs-sidebar.politico_left.section

  %ul.nav.nav-list.bs-docs-sidenav
    %li
      %a{:href => dados_pessoais_user_path(@user)}
        Perfil
        %i.icon-chevron-right
    %li
      %a{:href => user_photos_path(@user)}
        Fotos
        = surround '(', ')' do
          = @user.posts.photos.count
        %i.icon-chevron-right
    %li
      %a{:href => biografia_user_path(@user)}
        Biografia
        %i.icon-chevron-right
    %li
      %a{:href => contatos_user_path(@user)}
        Contatos
        %i.icon-chevron-right

.section
  = render 'users/follows_widget'

/
  - if user_signed_in? && false
    %p
      = link_to 'Indicar aos Amigos', '#modal-indicar', class: 'btn', data: {toggle: 'modal'}
      
    .modal.hide#modal-indicar
      = form_tag(recommend_many_allied_politicians_path(@user), method: :post) do
        .modal-header
          %button{type:"button", class:"close", data: {dismiss:"modal"}, aria: {hidden:"true"}}
            &times;
          %h3 Indicar aos amigos
        .modal-body
          - users = current_user.followeds.where(role: 'Cidadão').limit(20)
          .row-fluid
            %ul.unstyled
              - users.each_with_index do |u, i|
                %li.span6{class: ('cleared' if i % 2 == 0)}
                  .item-wrapper
                    %label.checkbox
                      = check_box_tag 'user_id[]'
                      = image_tag u.photo.thumb, width: 40
                      = u.name
        .modal-footer
          = submit_tag 'Indicar', class: 'btn btn-primary'
          = link_to 'Cancelar', '#', class: 'btn btn-cancel', data: {dismiss: 'modal'}
