.img-hover
  .img-container
    - if user_signed_in? && @user == current_user
      = link_to 'Editar Foto', edit_user_path(current_user)
    = image_tag @user.photo.url, width: 180

%h3= link_to @user.short_name, user_path(@user), class: 'post-author-name'

- if user_signed_in? && current_user != @user
  .alliance-button
    = render 'users/follow_button_widget', user: @user

.like-points
  .support.pull-left{rel: :tooltip, title: 'Curtidas recebidas em postagens feitas nas páginas de seus parlamentares aliados.'}
    = image_tag 'ico-hand-like.png', :class => 'icon pull-left'
    .number.pull-left
      = @user.support_count
      .title
        Apoio
  
  .support.represent.pull-right
    = link_to user_votes_path(@user) do
      = image_tag 'ico-hand-vote.png', :class => 'icon pull-left'
      .number.pull-left
        = UserVote.to_user(@user).count
        .title
          Me Representa
        
    -#=link_to user_votes_path(@user) do
      .cima{style: 'text-align: center'}
        Me&nbsp;&nbsp;&nbsp;
        = UserVote.to_user(@user).count
      .baixo Representa        
  
  .clearfix
.clearfix

.bs-docs-sidebar.politico_left.section

  %ul.nav.nav-list.bs-docs-sidenav
    %li
      %a{:href => dados_pessoais_user_path(@user)}
        Perfil
        %i.icon-chevron-right
    %li
      %a{:href => user_photos_path(@user)}
        Fotos
        = surround '(', ')' do
          = @user.posts.photos.count
        %i.icon-chevron-right

/
  .about.text-left.section
    - if @user.city
      %p 
        %span Mora em:
        %i
          = @user.city.name
          - if @user.state
            = ' - ' + @user.state.abbreviation
  
    - if @user.from_city
      %p 
        %span De:
        %i
          = @user.from_city.name
          - if @user.from_state
            = ' - ' + @user.from_state.abbreviation
  
  
    - if @user.work_info and !@user.work_info.blank?
      %p
        %span Trabalho: 
        %i= @user.work_info
  
    - if @user.scholarship and !@user.scholarship.blank?
      %p 
        %span Escolaridade: 
        %i= @user.scholarship
  
    - if @user.relationship_status and !@user.relationship_status.blank?
      %p 
        %span Está: 
        %i= @user.relationship_status
  
    - if @user.birthday and !@user.birthday.blank? and @user.show_birthday? 
      %p 
        %span Aniversário: 
        %i= @user.birthday.strftime('%d/%m/%Y')
  
    - if @user.political_preference and !@user.political_preference.blank?
      %p 
        %span Preferência Política: 
        %i= @user.political_preference
  
    - if @user.about_me and !@user.about_me.blank?
      %p 
        %span Sobre mim: 
        %i= @user.about_me
  
    - if @user.favorite_quote and !@user.favorite_quote.blank?
      %p
        %span Citação Favorita: 
        %i= @user.favorite_quote
        
    - if user_signed_in? && @user == current_user
      = link_to edit_user_path(current_user), class: 'left-column-edit' do
        %i.icon.icon-pencil
        Editar Dados
        

.btn-logo
  = link_to (@user.first_name + ' Participa'), participa_user_path(@user)

= render 'users/follows_widget'

.title_count.search
  .clean-link
    = link_to 'Buscar Usuários', find_friends_users_path