.btn-toolbar.top-toolbar
  .btn-group
    %a.btn.atuacao{:href => nossa_atuacao_subpagina_user_path(@user, subpagina: 'em-acao')}
      = image_tag 'ico-action.png'
      %br
      Em Ação
    %a.btn.atuacao{:href => nossa_atuacao_subpagina_user_path(@user, subpagina: 'proposicoes')}
      = image_tag 'ico-proposition.png'
      %br
      Proposições
    %a.btn.atuacao{:href => nossa_atuacao_subpagina_user_path(@user, subpagina: 'artigos-e-publicacoes')}
      = image_tag 'ico-article.png'
      %br
      Artigos e Publicações
.btn-toolbar.bottom-toolbar.section    
  .btn-group
    %a.btn.atuacao{:href => nossa_atuacao_subpagina_user_path(@user, subpagina: 'na-midia')}
      = image_tag 'ico-midia.png'
      %br
      Na Mídia
    %a.btn.atuacao{:href => nossa_atuacao_subpagina_user_path(@user, subpagina: 'agenda')}
      = image_tag 'ico-agenda.png'
      %br
      Agenda
    %a.btn.atuacao{:href => nossa_atuacao_subpagina_user_path(@user, subpagina: 'prestacao-de-contas')}
      = image_tag 'ico-bill.png'
      %br
      Prestação de Contas  