.btn-toolbar.top-toolbar
  .btn-group
    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'voto')}
      = image_tag 'ico-vote3.png'
      %br
      Voto

    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'lei')}
      = image_tag 'ico-law.png'
      %br
      Lei

    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'discurso'), "data-toggle" => "tooltip", :title => "Tema para Discurso"}
      = image_tag 'ico-speech.png'
      %br
      Discurso


    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'denuncia')}
      = image_tag 'ico-complaint.png'
      %br
      Denúncia

.btn-toolbar.bottom-toolbar.section 
  .btn-group
    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'requerimento')}
      = image_tag 'ico-petition.png'
      %br
      Requerimento

    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'audiencia'), "data-toggle" => "tooltip", :title => "Tema para Audiência Pública"}
      = image_tag 'ico-gavel.png'
      %br
      Audiência Públi...

    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'agraciamento'), "data-toggle" => "tooltip", :title => "Homenagens"}
      = image_tag 'ico-vote.png'
      %br
      Homenagens

    %a.btn{:href => participe_subpagina_user_path(@user, subpagina: 'emenda-orcamentaria'), "data-toggle" => "tooltip", :title => "Emendas Orçamentárias"}
      = image_tag 'ico-budget.png'
      %br
      Emendas
