- if (user_signed_in? && current_user.allied?(@user) && @post_type != 'Voto') || @user == current_user
  = render 'home/speak', post_type: @post_type, participe_user_id: @user.id, speak_label: 'Proponha!'
