.post{id: "post-#{post.id}"}
  .post-topbar
    = link_to (image_tag post.user.photo.thumb.url, :class => 'photo_post'), user_path(post.user)
    .post-name
      = link_to post.user.short_name, user_path(post.user), class: 'post-author-name'
      .post-top-actions
        - if current_user && current_user.id == post.user.id
          = link_to(user_post_path(current_user, post), method: 'delete', confirm: 'Tem certeza que deseja excluir esta postagem?', class: 'post-deletion pull-right delete-icon font_color_gray', remote: true) do 
            &times;
          
        .dropdown
          %a{href: '#', class: 'dropdown-toggle', rel: :tooltip, title: 'Compartilhar', data: {toggle: :dropdown}}
            %i.glyphicon.icon-share
          %ul.dropdown-menu.dropdown-with-header.dropdown-fat
            %li.dropdown-title
              %span
                Compartilhar via:
            %li
              %a{href: user_post_url(post.user, post), onclick: 'return fbs_click(this)'}
                %i.glyphicon.icon-facebook
                Facebook
            %li
              %a{href: user_post_url(post.user, post), onclick: 'return twttr_click(this)'}
                %i.glyphicon.icon-twitter
                Twitter
          
      %br
      - if post.participa?
        %span
          %strong
            = post_type_name post.post_type
          @
          = link_to (post.participe_user.political_nickname), user_path(post.participe_user)
      - elsif post.nossa_atuacao?
        %span
          %strong
            = post.post_type
      
      - if post.participa? || post.nossa_atuacao?
        %span
          &middot;
          
      = link_to user_post_path(post.user, post), class: 'permalink' do
        %span
          = time_ago_in_words(post.created_at.in_time_zone)
          atrás
      
      - if post.participa?
        %span
          &middot;
        - if user_signed_in? && post.participe_user_id == current_user.id
          .dropdown.post-status-dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: :dropdown} do
              = status_label(post, true)
            %ul.dropdown-menu
              - valid_posts_status.each do |s|
                %li
                  = link_to status_user_post_path(post.user, post, set: s), remote: true do
                    = status_title(s)
                  
        - else
          = status_label(post)

  .post-text
    .post-text-content
      = markdown_post post.content
    
    - if post.is_poll?
      - poll = Poll.find_by_post_id post.id
      = render 'polls/poll', poll: poll, post: post
    - elsif post.picture && !post.picture.blank?
      = link_to post.picture.url, class: "photo-zoom #{'no-text' if post.content.blank?}" do
        = image_tag post.picture.medium
    - elsif post.post_link
      = link_to post.post_link.url, class: 'post-link' do
        = image_tag post.post_link.image.url, class: 'pull-left'
        .post-link-description
          %strong= post.post_link.title
          - if !post.post_link.description.blank?
            %p= post.post_link.description
          - else
            %p= post.post_link.url

  = render 'posts/feedback', post: post

