.column_right
  - if @user.is_politician?
    = render 'users/right_column_politico'
  - else
    = render 'users/right_column_cidadao'

  .advertising
    %a{href: invite_path}
      = image_tag 'banner_invite.png'
    
  .banner-text
    %b COMUNICADO
    %p
      O EuParticipo é um projeto que visa Reinventar a Política Brasileira, torna-la sábia, 
      criativa, leve, honesta e inspiradora. Para tanto, já desenhamos e elaboramos um amplo projeto. 
      Esta versão que você esta navegando é apenas parte da nossa Ideia, especificamente a versão 
      experimental da primeira etapa do Projeto. Nos meses vindouros colocaremos no ar mais novidades 
      e em 7 de Julho de 2014 pretendemos apresentar ao Brasil a versão plena do EuParticipo. 
      Até lá, precisamos muito do seu apoio, sobretudo de suas Ideias e avaliações sobre a rede, 
      indicando onde podemos melhorar. Queremos que você seja parte dessa construção. Vamos somar 
      as energias, as Ideias e juntos construir uma Força Ética capaz de superar esse Modelo Político 
      atual e criar as condições objetivas para o surgimento de um novo Sistema Político no Brasil: 
      A DEMOCRACIA DIRETA.