- if user_signed_in? && current_user == @user
  .bs-docs-sidebar.politico_left.section
    %ul.nav.nav-list.bs-docs-sidenav
      %li
        = link_to contato_posso_ajudar_index_path, class: 'right' do
          Fale Conosco
          %i.icon-chevron-left
      %li
        = link_to how_it_works_posso_ajudar_index_path, class: 'right' do
          %i.icon-chevron-left
          Como Funciona?

.title_count.first.parlamentares-aliados{rel: :tooltip, title: "Parlamentares escolhidos por #{@user.name} para representá-lo."}
  Parlamentares Aliados

- @allied_politicians = @user.allied_politicians
- if user_signed_in? && @user != current_user
  - my_allied_politicians = current_user.allied_politicians
  - my_allied_politicians_hash = {}
  - my_allied_politicians.each { |a| my_allied_politicians_hash[a.political_position] = a if a}
  
- if @allied_politicians
  - allied_politicians_hash = {}
  - @allied_politicians.each { |a| allied_politicians_hash[a.political_position] = a if a}
- political_positions.each do |pp|
  - if p = allied_politicians_hash[pp]
    .ally
      = link_to (image_tag p.photo.thumb.url, :class => 'photo_ally'), user_path(p)
      .description_ally
        %span.political-position-right-column
          = p.political_position
          = " - #{p.party.name}" if p.party
            
        %br
        = link_to (p.political_nickname), user_path(p), class: 'post-author-name'
  - else
    .ally
      = image_tag 'thumb_qwewithout_photo.jpg', :width => '40', :height => '40', :class => 'photo_ally'
      .description_ally
        %span.political-position-right-column
          = pp
        - if user_signed_in?
          %br
          - if @user == current_user
            = link_to 'Escolha um!', position_allied_politicians_path(position: pp.parameterize)
          - elsif @user.follows?(current_user) && p = my_allied_politicians_hash[pp]
            = link_to 'Indicar o meu!', 
                      recommend_allied_politician_path(p, @user), 
                      title: p.display_name, 
                      remote: true, 
                      id: "recommend-#{p.id}", 
                      rel: :tooltip
                      
.bs-docs-sidebar.politico_left.section.convidar-parlamentares-sidebar
  %ul.nav.nav-list.bs-docs-sidenav
    %li
      = link_to politician_invites_path, class: 'right' do
        Convidar Parlamentares
        %i.icon-chevron-left