.bs-docs-sidebar.politico_left.section
  %ul.nav.nav-list.bs-docs-sidenav
    %li
      %a.right{:href => o_que_faz_user_path(@user)}
        O Que Faz o 
        = succeed '?' do
          = raw right_column_political_position(@user.political_position)
        %i.icon-chevron-left

    %li
      %a.right{:href => nossa_atuacao_user_path(@user)}
        Nossa Atuação
        %i.icon-chevron-left

.btn-logo
  = image_tag 'btn-participe.png'

.bs-docs-sidebar.politico_left.section
  %ul.nav.nav-list.bs-docs-sidenav
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'voto')}
        Voto
        %i.icon-chevron-left
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'lei')}
        Lei
        %i.icon-chevron-left
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'discurso'), "data-toggle" => "tooltip", :title => "Tema para Discurso"}
        Discurso
        %i.icon-chevron-left
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'denuncia')}
        Denúncia
        %i.icon-chevron-left
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'requerimento')}
        Requerimento
        %i.icon-chevron-left
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'audiencia'), "data-toggle" => "tooltip", :title => "Tema para Audiência Pública"}
        Audiência Pública
        %i.icon-chevron-left
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'agraciamento'), "data-toggle" => "tooltip", :title => "Homenagens"}
        Homenagens
        %i.icon-chevron-left
    %li
      %a.right{:href => participe_subpagina_user_path(@user, subpagina: 'emenda-orcamentaria'), "data-toggle" => "tooltip", :title => "Emendas Orçamentárias"}
        Emendas
        %i.icon-chevron-left