#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1
            = @user.display_name
            &raquo;
            Biografia
            
          - if user_signed_in? && @user == current_user
            = link_to edit_biography_user_path(current_user), class: 'left-column-edit section' do
              %i.icon.icon-pencil
              Editar Biografia
            
          - if !@user.biography.blank?
            = simple_format @user.biography
          - elsif user_signed_in? && @user == current_user
            %p.empty-alert Você ainda não escreveu sua biografia aqui no EuParticipo.
          - else
            %p.empty-alert= "#{@user.display_name} ainda não escreveu sua biografia aqui no EuParticipo."

      .span3
        = render 'users/right_column'
