.container.container-main
  .row
    .span3
      .column_left
        - if @user.is_politician?
          = render 'users/left_column_politico'
        - else
          = render 'users/left_column_cidadao'

    .span6.main-content
      .main-content-wrapper
        %h1 Contatos

        %dl{class: 'dl-horizontal'}

          %dt E-mail
          %dd= @user.email

          %dt Telefone do Mandato
          %dd= @user.phone1

          - if @user.phone2
            %dt Telefone do Mandato
            %dd= @user.phone2

    .span3
      = render 'users/right_column'
