#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1
            = @user.short_name.to_s
            &raquo;
            Perfil
            
          - if user_signed_in? && @user == current_user
            = link_to edit_user_path(current_user), class: 'left-column-edit section' do
              %i.icon.icon-pencil
              Editar Dados
            
          %dl{class: 'dl-horizontal dl-horizontal-answers'}
            - unless @user.name.blank?
              %dt Nome:
              %dd
                = @user.name
                = @user.last_names

            - if !@user.city.blank? and !@user.state.blank?
              %dt Mora em:
              %dd= @user.city.name + ' - ' + @user.state.abbreviation
            - elsif !@user.city.blank?
              %dt Mora em:
              %dd= @user.city.name
            - elsif !@user.state.blank?
              %dt Mora em:
              %dd= @user.state.name

            - if !@user.from_city.blank? and !@user.from_state.blank?
              %dt De:
              %dd= @user.from_city.name + ' - ' + @user.from_state.abbreviation
            - elsif !@user.from_city.blank?
              %dt De:
              %dd= @user.from_city.name
            - elsif !@user.from_state.blank?
              %dt De:
              %dd= @user.from_state.name
               
            - unless @user.work_info.blank?
              %dt Trabalho:
              %dd= @user.work_info

            - unless @user.scholarship.blank?
              %dt Escolaridade:
              %dd= @user.scholarship

            - unless @user.relationship_status.blank?
              %dt Está:
              %dd= @user.relationship_status

            - unless @user.birthday.blank? || !@user.show_birthday?
              %dt Nascimento:
              %dd= l @user.birthday, format: "%d de %B"

            - unless @user.political_preference.blank?
              %dt Preferência Política:
              %dd= @user.political_preference
            
            - unless @user.favorite_quote.blank?
              %dt Citação Favorita:
              %dd= @user.favorite_quote
              
            - unless @user.about_me.blank?
              %dt Sobre mim:
              %dd= @user.about_me

      .span3
        = render 'users/right_column'
