#content-index
  .container.container-main
    .row
      .span3
        = render 'users/left_column'

      .span6.main-content
        .main-content-wrapper
          %h1 Mudança de Senha

          = simple_form_for @user, url: update_password_user_path(@user), html: { class: 'form-horizontal' }, :method => 'post' do |f|

            = f.input :current_password, label: 'Senha Atual'
            = f.input :password, :autocomplete => "off", label: "Nova senha"
            = f.input :password_confirmation, label: "Confirme nova senha"
            .form-actions
              = f.submit class: 'btn btn-primary pull-right', value: 'Enviar'
      .span3
        = render 'users/right_column'