.container
  .row
    .span3
      = render 'users/left_column'
    .span6.main-content
      .main-content-wrapper
        - if @user.is_politician?
          %h1 Edição de Dados Pessoais
          = render 'form_politico'
        - else
          %h1 Edição de Dados Pessoais
          = render 'form_cidadao'
        
        %p
          Insatisfeito?
          = link_to 'Cancelar minha conta', user_registration_path, confirm: 'Tem certeza disto?', method: :delete
    .span3
      = render 'users/right_column'