.container
  .row
    .span3
      = render 'users/left_column'
    .span6.main-content
      .main-content-wrapper
        %h1 Editar Biografia
        
        = simple_form_for current_user, :url => update_biography_user_path(current_user), :method => 'update' do |f|
          .row-fluid
            = f.input :biography, label: 'Biografia', as: 'text', placeholder: '', input_html: { class: 'span12', rows: 10 }
          
          .form-actions
            = f.button :submit, value: 'Salvar', class: 'btn btn-primary pull-right'


    .span3
      = render 'users/right_column'