#content-index
  .container.container-main
    .row
      .span3
        = render 'users/left_column'

      .span6.main-content
        .main-content-wrapper
          %h1 Nossa Atuação

          %p Aqui você poderá acompanhar e pesquisar com facilidade as postagens deste Mandato de caráter informativo, separadas por área de interesse.
          %br

          = render 'users/nossa_atuacao_toolbar'
          = render 'posts/listing', posts: @posts

      .span3
        = render 'users/right_column'
