#content-index
  .container.container-main
    .row
      .span3
        = render 'users/left_column'

      .span6.main-content
        .main-content-wrapper
          %h1
            Nossa Atuação » 
            = @post_type
        
          = render 'users/nossa_atuacao_toolbar'
          - if user_signed_in? && current_user == @user
            = render 'users/participe_speak', post_type: @post_type
          
          - if @posts.total_count > 0
            = render 'posts/listing', posts: @posts
          - else
            %p.empty-alert Ainda não existem postagens aqui. Quem mais tarde?

      .span3
        = render 'users/right_column'
