.container
  .row
    .span3
      = render 'users/left_column'
    .span6.main-content
      .main-content-wrapper
        %h1
          O que faz um 
          = succeed '?' do
            = @user.political_position
          
        - case @user.political_position
          - when 'Vereador' then  
            %p= 'Vereador'
          - when 'Deputado Estadual' then  
            %p= 'Deputado Estadual'
          - when 'Deputado Federal' then  
            %p= 'Deputado Federal'
          - when 'Senador' then  
            %p= 'Senador'
    .span3
      = render 'users/right_column'