#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1= @user.short_name.to_s + ' Participa'

          - if @posts.total_count > 0
            %p.section
              Estas são as postagens que
              = @user.first_name
              realizou dentro da página de seus parlamentares aliados. 
    
            %hr
          
            = render 'posts/listing', posts: @posts
          - else
            %hr
            %p.empty-alert
              = @user.name
              ainda não fez postou proposições para seus parlamentares aliados.
          

      .span3
        = render 'users/right_column'
