#content-index
  .container.container-main
    .row
      .span3
        = render 'users/left_column'

      .span6.main-content
        .main-content-wrapper
          - if user_signed_in? && !current_user.allied?(@user)
            %p.empty-alert Para fazer proposições a este parlamentar você deve antes se aliar a ele.
            %hr
          
          %h1
            Proponha » 
            = post_type_name @post_type
        
          / Button to trigger modal
          .ajuste.section{style: "text-align: center;"}
            - if @post_type
              %a.btn.btn-tutorial{"data-toggle" => "modal", :href => "#myModal", :role => "button"}
                %i.icon.icon-white.icon-question-sign
                - case @post_type
                - when 'Lei'
                  O Que É uma Lei? e Como Propor?
                - when 'Requerimento'
                  O Que É um Requerimento? e Como Propor?
                - when 'Discurso'
                  O Que É o Discurso Parlamentar? e Como Propor?
                - when 'Audiência Pública'
                  O Que É uma Audiência Pública? e Como Propor?
                - when 'Voto'
                  O Que É o Voto? e Como Participar?
                - when 'Título e Agraciamento'
                  O Que São as Homenagens? e Como Propor?
                - when 'Denúncia'
                  O Que É uma Denúncia? e Como Propor?
                - when 'Emenda Orçamentária'
                  O Que É uma Emendas Orçamentárias? e Como Propor?

          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel Ajuda
            .modal-body
              - case @post_type
              - when 'Lei'
                %h2 O Que É uma LEI?

                %p A palavra Lei se origina do Latim "lex" que significa "regra, norma". Trata-se de um conjunto de normas concebidas e estabelecidas por um poder soberano para regular a conduta social e impor sanções a quem não as cumpre. 

                %p O processo de formulação de uma Lei no Brasil se da por varias etapas, que são elas: a iniciativa da Lei, discussão, votação, aprovação, sanção, promulgação, publicação e vigência. Na maioria das vezes a iniciativa da Lei parte dos Poderes Legislativo e Executivo, mas há casos em que a Constituição determina que a iniciativa caiba ao Judiciário e há ainda a possibilidade de projetos de Lei de Iniciativa Popular. 

                %p As discussões, votações e aprovações são feitas pelo Legislativo e a sanção do conteúdo aprovado é feita pelo Executivo, que pode vetar total ou parcialmente. O veto é submetido ao Legislativo, que pode derruba-lo. Rejeitado o veto, o órgão executivo tem que acatar a decisão do Legislativo. Nesse caso, bem como nos casos em que o poder de veto não é exercido no prazo legal, o Executivo deve acatar a Lei promulgada pelo Legislativo. Porem, não havendo veto o Executivo sanciona e promulga (determina a execução) e a Lei é publicada em Diário Oficial, passando a vigorar.

                %p Aqui você irá propor uma Ideia de Lei, ou seja, iniciaremos o processo de formulação de uma Lei.

                %h2 Como Propor uma LEI?

                %p O Cidadão que desejar propor uma Ideia de Lei ao Parlamentar deverá postar esta Ideia aqui, da forma mais clara e detalhada que conseguir. Em seguida, esta Ideia poderá ser curtida e debatida através dos comentários feitos pelos demais Aliados do Parlamentar e por ele próprio. Nesse debate, a Ideia de Lei proposta poderá ser substanciada e complementada pelos demais e após esse debate, quando houver um consenso entre o Cidadão Proponente e o Parlamentar de que a Ideia de Lei está suficientemente “madura”, esta será “adotada” e apresentada OFICIALMENTE pelo Parlamentar em sua Casa Legislativa. 

                %p Observação: O Parlamentar também poderá usar este espaço para debater seus futuros Projetos de Lei, usando o mesmo procedimento dos Cidadãos.

                %p Regra: a decisão de adotar uma Ideia de Lei, assim como nos demais botões, é uma decisão espontânea do Parlamentar.

              - when 'Requerimento'

                %h2 O Que É um REQUERIMENTO?

                %p Um Requerimento é um documento oficial que o Parlamentar utiliza para solicitar ao Executivo ou a uma Instituição a satisfação de uma necessidade ou interesse publico. Geralmente o Parlamentar se utiliza deste procedimento para cobrar soluções e respostas do Executivo.

                %h2 Como Propor um REQUERIMENTO?

                %p O Cidadão que desejar apresentar uma proposta de Requerimento ao Parlamentar, deverá postar aqui a questão requerida da forma mais clara e detalhada que conseguir, se possível elencando algum material (um vídeo por exemplo) sobre o que se requere e destacando alguns pontos: a) o vinculo de legitimidade que o requerente tem com o Requerimento (se é beneficiado ou prejudicado), b) indicar o órgão a que se dirige o Requerimento, c) expor os fatos em que se baseia e a justificativa do Requerimento e d) a especificação clara e objetiva do que será solicitado no Requerimento. Em seguida, sua proposta poderá ser curtida e debatida através dos comentários feitos pelos demais Aliados do Parlamentar e por ele próprio. Nesse debate, a proposta poderá ser substanciada e complementada pelos demais e, havendo concordância do Parlamentar, este receberá sua proposta e dará o devido encaminhamento a ela.

                %p Observação: O Parlamentar também poderá usar este espaço para expor seus Requerimentos, usando o mesmo procedimento dos Cidadãos.

                %p Regras: 1) o fato de Requerer não garante uma resposta positiva e esta decisão independe do parlamentar e 2) a decisão de receber uma proposta de Requerimento, assim como nos demais botões, é uma decisão espontânea do Parlamentar.

              - when 'Discurso'

                %h2 O Que É o DISCURSO PARLAMENTAR?

                %p O Discurso é um dos instrumentos mais usados na ação parlamentar, é parte do cotidiano dele e por onde ele expõe suas ideias e seus posicionamentos. Comumente, os Discursos mais importantes e elaborados são feitos da Tribuna (espaço no plenário das Casas Legislativas destinado aos Discursos dos Parlamentares) e há uma preparação previa para tanto.

                %h2 Como Propor um DISCURSO?

                %p O Cidadão que desejar propor ao Parlamentar um Tema ou Assunto para seu Discurso em sua Casa Legislativa, deverá postar aqui esse Tema ou Assunto da forma mais clara e detalhada que conseguir. Em seguida, sua Ideia poderá ser curtida e debatida através dos comentários feitos pelos demais Aliados do Parlamentar e por ele próprio. Nesse debate, a proposta de Tema será substanciada e complementada pelos demais e, havendo concordância do Parlamentar, este “adotará” a proposta e formulará seu Discurso orientado nela ou a incluirá em um Discurso futuro.

                %p Observação: O Parlamentar também poderá usar este espaço para debater seus futuros Discursos, usando o mesmo procedimento dos Cidadãos.

                %p Regra: a decisão de adotar uma proposta de Tema ou Assunto para o Discurso, assim como nos demais botões, é uma decisão espontânea do Parlamentar.

              - when 'Audiência Pública'

                %h2 O Que É uma AUDIÊNCIA PÚBLICA?

                %p Uma Audiência Publica é uma reunião convocada pelo Parlamentar ou por uma comissão técnica/temática da Casa Legislativa para aprofundar o debate sobre uma matéria legislativa em tramitação ou para tratar de assunto de relevante interesse publico com especialistas, autoridades, entidades e demais interessados. 
                %h2 Como Propor uma AUDIÊNCIA PÚBLICA?
                %p O Cidadão que desejar propor ao Parlamentar um Tema para Audiência Publica, deverá postar aqui a Ideia da forma mais clara e detalhada que conseguir, justificando a importância deste Tema. Em seguida, sua Ideia poderá ser curtida e debatida através dos comentários feitos pelos demais Aliados do Parlamentar e por ele próprio. Nesse debate, a proposta poderá ser substanciada e complementada pelos demais e, havendo concordância do Parlamentar, este receberá sua proposta de Tema e dará o devido encaminhamento a ela.
                %p Observação: O Parlamentar também poderá usar este espaço para expor suas Ideias de Temas para Audiências Publicas, usando o mesmo procedimento dos Cidadãos.
                %p Regra: a decisão de receber uma proposta de Tema para Audiência Publica, assim como nos demais botões, é uma decisão espontânea do Parlamentar.

              - when 'Voto'
                %h2 O Que É o VOTO Parlamentar? 
                %p Em uma Casa legislativa toda decisão tem que ser votada entre os Parlamentares. Por isso um dos instrumentos mais usados na ação parlamentar é o Voto, que pode ser dado em plenário, onde se reúnem todos os parlamentares, ou nas comissões especificas, onde se reúnem parte deles.
                %h2 Como Participar?
                %p O Parlamentar postará antecipadamente aqui as votações que estão previstas em sua Casa Legislativa, descrevendo o conteúdo delas de forma resumida. Essa postagem terá um formato de Enquete e a partir dela os Cidadãos poderão curtir, comentar e VOTAR em uma das 3 opções oferecidas: Sim, Não e Abstenção. Estas são as mesmas opções que são oferecidas aos Parlamentares em sua Casa Legislativa. A intenção é que o voto do Parlamentar em sua Casa Legislativa receba a influencia de seus Aliados, que expressarão inevitavelmente posições majoritárias nestas votações.
                %p Observação: o Parlamentar também poderá usar este espaço para fazer Consultas Diversas a seus Aliados.
                %p Regras: 1) só o Parlamentar poderá criar postagens neste botão e 2) a decisão de consultar seus Aliados sobre as Votações de sua Casa Legislativa, assim como nos demais botões, é uma decisão espontânea do Parlamentar.

              - when 'Título e Agraciamento'

                %h2 O Que são as HOMENAGENS?
                %p Homenagens são Condecorações, Medalhas, Comendas, Títulos de Cidadão Local e outros agraciamentos que o Legislativo cria para registrar seu reconhecimento pelo trabalho, atuação ou serviços prestados de alguma pessoa ou entidade. Comumente essas Homenagens são definidas por votação entre os Parlamentares e entregues em eventos de caráter anual.
                %h2 Como Propor uma HOMENAGEM?
                %p O Parlamentar postará antecipadamente, e separadamente, aqui, uma descrição de cada Condecoração, Medalha, Comenda, Títulos de Cidadão e outros agraciamentos que estão previstas em sua Casa Legislativa, descrevendo o conteúdo delas de forma clara e detalhada e se possível exemplificando pessoas ou entidades anteriormente agraciadas. A partir dessas postagens os Cidadãos poderão comentar e indicar pessoas ou entidades (quando for o caso) para futuros agraciamentos. Nesse debate, o Parlamentar colherá as sugestões e, quando houver concordância, este dará o devido encaminhamento a elas.
                %p Observação: o Parlamentar também poderá usar este espaço para expor nomes de Pessoas e Entidades que deseja homenagear, usando o mesmo procedimento dos Cidadãos.
                %p Regra: a decisão de receber uma sugestão para homenageados, assim como nos demais botões, é uma decisão espontânea do Parlamentar.



                %p comedas
              - when 'Denúncia'

                %h2 O Que É uma DENUNCIA?

                %p O Parlamentar tem entre suas principais funções a de FISCALIZAR O EXECUTIVO. Sempre que o Parlamentar toma conhecimento de algo ilegal ou errado este deve tomar medidas legais para a correção do fato. Comumente essas medidas tem a forma de Denuncia, que por definição é uma tentativa de tornar publico ou de conhecimento de alguma autoridade competente um determinado fato ilegal, aguardando alguma correção ou punição para o mesmo.

                %h2 Como Apresentar uma DENUNCIA?

                %p O Cidadão que desejar apresentar alguma Denuncia ao Parlamentar, deverá postar aqui a Denuncia da forma mais clara e detalhada que conseguir, se possível elencando alguma prova do que denuncia (um vídeo por exemplo). Em seguida, sua denuncia poderá ser curtida e debatida através dos comentários feitos pelos demais Aliados do Parlamentar e por ele próprio. Nesse debate, a denuncia poderá ser substanciada e complementada pelos demais e, havendo concordância do Parlamentar, este receberá sua denuncia e dará o devido encaminhamento a ela.

                %p Observação: O Parlamentar também poderá usar este espaço para expor suas Denuncias, usando o mesmo procedimento dos Cidadãos.

                %p Regra: a decisão de “adotar” uma Denuncia, assim como nos demais botões, é uma decisão espontânea do Parlamentar.

              - when 'Emenda Orçamentária'
                %h2 O Que É uma EMENDA ORÇAMENTÁRIA?
                %p Emenda Orçamentária é o meio pelo qual os Parlamentares participam da elaboração do Orçamento Anual do Executivo. Através dessas Emendas o Parlamentar pode acrescentar, suprimir ou modificar itens da proposta do Executivo, que anualmente propõe um orçamento que fixa os recursos publicos a serem aplicados em cada ação de governo, estimando receitas de acordo com a previsão de arrecadação e autorizando despesas. Nenhuma despesa publica pode ser executada fora deste orçamento, no entanto, comumente nem tudo que está previsto é executado. As Emendas Orçamentárias dos Parlamentares influenciam a alocação de recursos públicos para setores e áreas especificas.
                %h2 Como Propor uma EMENDA ORÇAMENTÁRIA?
                %p O Cidadão que desejar propor ao Parlamentar uma Ideia de Emenda Orçamentária deverá postar aqui essa Ideia da forma mais clara e detalhada que conseguir, justificando a importância dessa Área ou Setor a ser beneficiado. Em seguida, sua Ideia poderá ser curtida e debatida através dos comentários feitos pelos demais Aliados do Parlamentar e por ele próprio. Nesse debate, a proposta poderá ser substanciada e complementada pelos demais e, havendo concordância do Parlamentar, este receberá sua proposta de Emenda e dará o devido encaminhamento a ela.
                %p Observação: O Parlamentar também poderá usar este espaço para expor suas Ideias de Emendas Orçamentárias, usando o mesmo procedimento dos Cidadãos.
                %p Regras: 1) o fato de adotar uma Ideia de Emenda Orçamentária não garante que o Executivo aplique (execute) os recursos desta Emenda, e esta decisão independe do parlamentar e 2) a decisão de adotar uma Ideia de Emenda Orçamentária, assim como nos demais botões, é uma decisão espontânea do Parlamentar.

            .modal-footer
              %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Fechar

          = render 'users/participe_speak', post_type: @post_type
          
          - if @posts.total_count > 0
            = render 'posts/listing', posts: @posts
          - else
            %p.empty-alert Este parlamentar e seus aliados ainda não postaram proposições.

      .span3
        = render 'users/right_column'
