#content-index
  .container.container-main
    .row
      .span3
        = render 'users/left_column'

      .span6.main-content
        .main-content-wrapper
          %h1 Participe
          = render 'posts/listing', posts: @posts

      .span3
        = render 'users/right_column'