#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1 Nossa Atuação
                
          = render 'users/nossa_atuacao_toolbar'


        %input{type: 'hidden', value: 1, id: 'pagination-count'}
        #posts
          = render 'users/posts', posts: @posts
        %button{id: 'pagination-button', href: user_path(@user), class: 'btn btn-primary'} Ver mais

      .span3
        = render 'users/right_column'
