- content_for :title do
  = 'EuParticipo - Busca de Usuários'

.container.container-main
  .row
    .span3
      .column_left
        - if @user
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'
        - else
          /
    .span6.main-content
      %h1 Busca de Usuários

      - if !params[:q].blank?
        %p
          Buscando por:
          %strong
            %em= params[:q]

      #form-search
        %input{type: 'hidden', id: 'q', value: params[:q]}
        .row-fluid
          .span5
            = select_tag :uf, options_from_collection_for_select(State.order('name ASC'), 'abbreviation', 'name', @uf), prompt: 'Todos os Estados', class: 'span12'
          .span7
            - if @state
              = select_tag :cidade, options_from_collection_for_select(City.where(state_id: @state.id).order('name ASC'), 'id', 'name', @cidade_id), prompt: 'Todas as Cidades', class: 'span12'

      - if @users.length > 0
        - @users.each do |user|
          = render 'users/card', user: user

        .search-center-pagination-link
          = link_to_previous_page @users, '« Anterior', params: params
          = link_to_next_page @users, 'Próxima »', params: params

      - else
        %p Nenhum usuário foi encontrado.
    .span3
      = render 'users/right_column'
          