= content_for :title do
  = "#{@user.display_name} no EuParticipo"
  
- content_for :description do
  = "Perfil público de #{@user.display_name} no EuParticipo, a maior rede social de política do Brasil."

- content_for :image do
  = get_full_url(@user.photo.url)

#content-index
  .container.container-main
    .row
      .span3
        = render 'left_column'

      .span6.main-content
        .main-content-wrapper
          - if user_signed_in? && @user == current_user
            - if @posts.total_count == 0
              %p.section.note
                Você ainda não postou no EuParticipo. Porque não começa escrevendo uma mensagem de boas-vindas, ou 
                abordando algum tema importante nos debates políticos?
                
                %hr
                
            = render 'home/speak'
          - elsif user_signed_in? && @user != current_user && Nudge.can_nudge?(current_user, @user)
            %p
              = @user.display_name
              não acessa o EuParticipo a um tempo. Chame sua atenção para trazê-lo(a) de volta!
            
            = form_for(Nudge.new(to_id: @user.id)) do |f|
              = f.hidden_field :to_id
              %p.align-center.section
                = submit_tag 'Chamar a atenção!', class: 'btn btn-warning align-center'
            
            %hr
          
          = render 'posts/listing', posts: @posts

      .span3
        = render 'right_column'