$('#posts').append("<%= j render 'users/posts', posts: @posts %>")
<% if @page == @posts.total_pages || @posts.empty? %>
  $('#pagination-button').hide()
<% else %>
  $('#pagination-button').attr('href', "<%= url_for(page: @page.to_i + 1) %>")
<% end %>

$(document).trigger('timelineUpdated')
