.form.password-new
  %h2 Mude sua Senha

  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), 
                                                  :html => { :method => :put, :class => 'form-horizontal devise-signin'}) do |f|
    = f.input :reset_password_token, as: 'hidden'
    = f.input :password, :autofocus => true
    = f.input :password_confirmation
    = f.submit "Mudar minha senha", class: 'btn btn-primary'
  
  .clearfix
  = render "devise/shared/links"