.form.session-new
  %h2 Esqueceu a Senha?
                           
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :method => 'post',
                                                    :html => {:class => 'form-horizontal devise-signin'}) do |f|
    = f.input :email, :autofocus => true
    = f.submit "Enviar instruções para nova senha", class: 'btn btn-primary'
  
  .clearfix
  = render "devise/shared/links"

