%p
  Olá, 
  = "#{@user.name}," 
  
%p
  Isto é o que tem acontecido com seu perfil no EuParticipo ultimamente:
  
%table.table#notifications-list{cellspacing: 0}
  - @notifications.each_with_index do |n, i|
    - begin
      - url = notification_link_path(n)
      - image_url = notification_image_path(n)
      - text = notification_text(n)
    - rescue
      - next
      
    %tr
      %td{style: "padding: 10px 12px 10px 0; #{'border-top: 1px solid #DEDEDE;' if i > 0}"}
        = link_to url do
          = image_tag image_url, style: 'display: block;'
      %td{style: "padding: 12px 0 10px; vertical-align: top; #{'border-top: 1px solid #DEDEDE;' if i > 0}"}
        = link_to url, style: 'color: teal; text-decoration: none;' do
          = raw text
        %br
        %small.time
          = time_ago_in_words(n.updated_at)
          atrás

%p
  Visite o 
  = link_to 'EuParticipo', 'http://www.euparticipo.com.br', style: 'color: teal; text-decoration: none;'
  para interagir de volta e receber mais conteúdo!