= simple_form_for @user, { url: user_registration_path, method: 'post', 
                           html: { id: 'form-politician', class: 'form-horizontal', autocomplete: 'off' } } do |f|
  
  = f.input :political_nickname, label: 'Nome Político', required: true, input_html: {maxlength: 28}
  = f.input :email, label: 'Email'
  = f.input :password, required: true
  = f.input :password_confirmation, required: true

  = f.input :phone1, required: true, label: 'Telefone do Mandato'
  = f.input :phone2, label: 'Telefone do Mandato 2'

  = f.input :party_id, required: true, as: 'select', label: 'Partido', collection: Party.all, prompt: 'Selecione um partido'


  = f.input :political_position, required: true, label: 'Cargo Político Atual', prompt: 'Escolha um cargo político',
             collection: [['Vereador', 'Vereador'],
                          ['Deputado Estadual', 'Deputado Estadual'],
                          ['Deputado Federal', 'Deputado Federal'],
                          ['Senador', 'Senador']]

  = f.input :political_state_id, collection: State.all, prompt: 'Selecione um Estado', label: 'Estado do Mandato',
            input_html: { id: 'user-mandate-state' }, required: true
            
  = f.input :political_city_id, as: 'select', collection: City.where(state_id: @user.political_state_id), prompt: 'Selecione um Estado',
            input_html: { id: 'user-mandate-city' }, label: 'Cidade do Mandato', required: @user.needs_city?

  = f.input :role, as: 'hidden', input_html: { value: 'Legislativo' }

  .birth_welcome
    = f.input :birthday, :as => 'date', label: 'Nascimento', use_short_month: true,
               start_year: Date.today.year - 100, end_year: Date.today.year - 5, discard_today: true

  = f.input :gender, label: 'Gênero', :collection => [ 'Masculino', 'Feminino' ]
  = f.input :photo, as: 'file', required: true, label: 'Foto para Perfil'
  .form-actions
    = f.button :submit, value: 'Cadastrar', class: 'btn btn-primary'
