= simple_form_for @user, { :url => user_registration_path, :method => 'post',
                           :html => { id: 'form-citizen', :class => 'form-horizontal', autocomplete: 'off' } } do |f|
  = f.hidden_field :provider
  = f.hidden_field :uid
  = f.hidden_field :facebook_token
  
  = f.input :role, as: 'hidden', input_html: { value: 'Cidadão' }
  = f.input :name, label: 'Nome', required: true, input_html: {maxlength: 13}
  = f.input :last_names, label: 'Sobrenome', required: true, input_html: {maxlength: 13}
  .birth_welcome
    = f.input :birthday, as: 'date', label: 'Nasci em', use_short_month: true, start_year: Date.today.year - 12, end_year: Date.today.year - 100, discard_today: true, include_blank: true

  - if !@user.gender.blank?
    = f.hidden_field :gender
  - else
    = f.input :gender, label: 'Gênero', :collection => [ 'Masculino', 'Feminino' ]
  
  - if !@user.email.blank?
    = f.hidden_field :email
    .control-group
      %label.control-label Email
      .controls
        %input{type: 'text', disabled: 'disabled', value: @user.email}
  - else
    = f.input :email, label: 'Email', input_html: {autocomplete: 'off'}
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  
  - if defined?(@photo_url) && @photo_url
    = f.hidden_field :remote_photo_url, value: @photo_url
  - else
    = f.input :photo, as: 'file', label: 'Foto para Perfil'
  
  .form-actions
    = f.button :submit, value: 'Cadastrar', class: 'btn btn-primary'