.speak
  %h3= defined?(speak_label) && speak_label ? speak_label : 'Fale!'
  
  .row-fluid
    %textarea{id: 'speak-hook', class: 'span12', rows: 2}
  = form_for([@user, Post.new], remote: true, id: 'post-form', html: {enctype:"multipart/form-data", class: 'hide'}) do |f|
    %input.hide{:type => 'hidden', :name => 'authenticity_token', :value => form_authenticity_token}
    %input.hide{:type => 'hidden', :name => 'post[user_id]', :value => current_user.id}
    
    - if defined?(post_type) && post_type
      %input.hide{:type => 'hidden', :name => 'post[post_type]', :value => post_type}
    - if defined?(participe_user_id) && participe_user_id
      %input.hide{:type => 'hidden', :name => 'post[participe_user_id]', :value => participe_user_id}
    
    .row-fluid.speak-area
      = f.text_area :content, class: 'span12'
      .speak-file
        %label{for: 'post[picture]'} Quer postar uma imagem? Escolha uma do seu computador:
        = f.file_field :picture
    .speech
      = image_tag 'speech.png', :class => 'speech'
      %button{class: 'btn btn-primary', type: 'submit', data: {disable_with: 'Aguarde...'}}
        Falei!