#wrap
  #top-bar
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .row
            .span12
              = link_to (image_tag 'logo-wide.png', :class => 'logo'), root_path

  #content-index
    .container
      .row
        .span12
          #flash-area
            - if notice
              .alert.alert-block
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = notice
            - elsif alert
              .alert.alert-block
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = alert
            - elsif flash[:error]
              .alert.alert-error
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = flash[:error]
            - elsif flash[:success]
              .alert.alert-success
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = flash[:success]

          %h2 Cadastro de Parlamentar
          = render 'form_cadastro_politico'