#content-index
  .container.container-main
    .row
      .span3
        = render 'users/left_column'

      .span6.main-content
        .main-content-wrapper
          - if current_user.follows_followeds.count < Follow::MINIMUM_REQUIRED
            %p.section.note
              Olá, seja bem-vindo ao EuParticipo! Acompanhe cidadãos e políticos para receber suas postagens no seu 
              mural. Até que você acompanhe pelo menos 
              = Follow::MINIMUM_REQUIRED
              pessoas nós iremos te mostrar tudo que está acontecendo no EuParticipo, para te ajudar a conhecer mais  
              que sejam do seu interesse.
              
              %hr
      
          = render 'home/speak'
            
        .clearfix

        = render 'posts/listing', posts: @posts

      .span3
        = render 'users/right_column'
        
- if params[:metodo] && params[:metodo] == 'boas-vindas'
  .modal.hide#modal-boas-vindas
    .modal-header
      %button{type:"button", class:"close", data: {dismiss:"modal"}, aria: {hidden:"true"}}
        &times;
      %h3
        Bem-vindo ao EuParticipo!
    .modal-body
      = render 'help/inicio'
      
    .modal-footer
      = link_to 'Começar!', '#', class: 'btn btn-primary', data: {dismiss: 'modal'}
  :javascript
    $(document).ready(function() {
      $('#modal-boas-vindas').modal('show')
    })
