#wrap
  #top-bar.topbar-index
    .container
      .row
        .span6.text-center
          = image_tag 'logo.png', :class => 'logo-big'
      
        .span6
          %form.form-inline.pull-right{:action => user_session_path, :method => 'post'}
            %input.hide{:type => 'hidden', :name => 'authenticity_token', :value => form_authenticity_token}
            .control-group
              %input.input-small{:placeholder => "Email", :name => "user[email]", :type => "text", :class => "email"}
              %input.input-small{:placeholder => "Senha", :name => "user[password]", :type => "password"}
              %button.btn.btn-primary.btn-primary-dark{:type => "submit"} Entrar
            .options
              %label.checkbox
                %input{name: 'user[remember_me]', value: 1, type: "checkbox"} Manter conectado
                
              .link-password.pull-right
                = link_to 'Esqueceu a senha?', new_user_password_path

  #content-index
    .container
      .row
        .span6.video.text-center
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "256",
                  :src => "//www.youtube.com/embed/U0CYs3lij98", :width => "341"}
        .span6.form
          #flash-area
            - if notice
              .alert.alert-block
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = notice
            - elsif alert
              .alert.alert-block
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = alert
            - elsif flash[:error]
              .alert.alert-error
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = flash[:error]
            - elsif flash[:success]
              .alert.alert-success
                %button.close{type: 'button', data: {dismiss: "alert"}} &times;
                = flash[:success]

          %h1 FAÇA O SEU CADASTRO
          %h4 É rápido!
          
          %hr.welcome-divider
          = link_to user_omniauth_authorize_path('facebook'), class: 'btn btn-facebook' do
            Entrar pelo Facebook
            &nbsp;
            &rarr;
          %hr.welcome-divider
          
          = render 'form_cadastro_cidadao'
          
          .clearfix

          .parlamentar
            %strong
              É Parlamentar? Cadastre-se aqui:
              = link_to 'Parlamentares', new_user_registration_path(tipo: 'parlamentar')

    #push

= render 'layouts/footer'
