%p
  Olá, 
  = succeed '.' do
    = @user.political_nickname

%p
  Seu cadastro na Rede EuParticipo foi aprovado. Nós adotamos este sistema de aprovação para evitar perfis falsos na Rede e assim garantir um melhor espaço de encontro para todas(os).

%p
  Ao entra na Rede, você estará apoiando todos nós a chegarmos cada vez mais perto da Democracia Direta.

%p
  Muito obrigado pela participação.
