- my_vote = PollVote.where(user: current_user, poll: poll).first if user_signed_in?
- votes = []
- votes << {total: poll.poll_votes.vote_yes.count, label: 'Sim', value: 'yes'}
- votes << {total: poll.poll_votes.vote_no.count, label: 'Não', value: 'no'}
- votes << {total: poll.poll_votes.vote_absent.count, label: 'Abstenção', value: 'absent'}
- #votes.sort!{ |a, b| b[:total] <=> a[:total] }
- max_votes = votes.map { |v| v[:total] }.max
- can_vote = user_signed_in? && (post.can_interact?(current_user))
%table.table.table-poll{id: "poll-#{poll.id}", class: ('votable' if can_vote)}
  - votes.each do |v|
    - item_id = "option-#{poll.id}-#{v[:value]}"
    - input_id = "vote-#{poll.id}-#{v[:value]}"
    - input_name = "vote-#{poll.id}"
    - active = my_vote && my_vote[v[:value]]
    - progress = max_votes > 0 ? v[:total] * 100 / max_votes : 0
    %tr{id: item_id, data: {href: vote_poll_path(poll.id, option: v[:value])}, class: ('active' if active)}
      - if can_vote
        %td.vote
          %input{type: 'radio', id: input_id, name: input_name, value: v[:value], checked: ('checked' if active)}
      %td.description
        .progress.progress-striped
          .bar{style: "width: #{progress}%"}
          %label{for: input_id}
            = v[:label]
            = surround '(', ')' do
              %span.total= v[:total]