// Place all the styles related to the AlliedPoliticians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#politician_invite_absent_politician_id_chosen {
  width: 460px !important;
  
  & + .help-inline {
    padding-left: 0;
    margin-top: 7px;
  }
}

.error #politician_invite_absent_politician_id_chosen {
  .chosen-single, .chosen-drop {
    border-color: #b94a48;
  }
}
