// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr.welcome-divider {
  text-align: right;
  border-top-color: #E5E5E5;
  border-bottom: 0;
  width: 420px;
  margin-right: 0;
  margin-left: auto;
}
