// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.unread td {
  background: lightyellow;
}

#notifications-list {
  tr:first-child td {
    border-top: 0;
  }
  
  td {
    padding: 15px;
  }
  
  td.description {
    padding-left: 0;
  }
  
  td.photo {
    width: 40px;
  }
  
  .time {
    display: block;
  }
}
