// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo-meta {
  width: 40%;
  float: left;
  
  .photo-meta-wrapper {
    padding: 15px;
  }
  
  .post-comment, .new-comment-form, .post-feedback, .post-text, .see-all-comments {
    margin-left: 0;
  }
  
  .post-text {
    padding-left: 0;
    padding-right: 0;
  }
}

.photo-image {
  width: 60%;
  float: left;
  
  img {
    width: 100%;
    border-radius: 0;
    max-width: 100%;
  }
}

#modal-photo {
  border-radius: 0;
  border: 0;
  width: 860px;
  margin-left: -430px;
  
  .modal-body {
    max-height: 500px;
    overflow-x: hidden;
    padding: 0;
    position: relative;
  }
}