@import "variables";

table.table.table-poll {
  margin-top: 15px;
  margin-bottom: 5px;
  
  tr:first-child td {
    padding-top: 0;
  }
  
  tr td {
    border: none;
    padding-bottom: 0;
  }
  
  .progress {
    border: 1px solid #CCC;
    border-radius: 0;
    line-height: 30px;
    height: 30px;
    margin: 0;
    position: relative;
    
    .bar {
      background: $lighter_primary_color;
    }
    
    label {
      cursor: default;
      display: block;
      width: 100%;
      color: darken($primary_color, 10%);
      position: absolute;
      left: 9px;
      line-height: 30px;
    }
  }
  
  td.vote {
    width: 10px;
  }
  
  tr.active {
    .progress {
      border-color: $primary_color;
    }
    
    .progress label {
      font-weight: bold;
    }
  }
  
  td.description {
    padding-left: 0;
  }
}

table.table.table-poll.votable {
  td.description label {
    cursor: pointer;
  }
  
  td.description:hover {
    .progress {
      border-color: $primary_color;
    }
  }
}
