// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-comment-form.post-comment {
  min-height: 0;
}

.post-meta {
  margin-left: 50px;
  font-size: 13px;
}

.post-top-actions {
  position: absolute;
  top: 0;
  right: 0;
  
  .dropdown {
    float: right;
    
    .dropdown-toggle i {
      margin-top: 3px;
      opacity: 0.6;
      
      &:hover {
        opacity: 1;
      }
    }
    
    li a {
      font-size: 14px;
      
      i.glyphicon {
        margin-right: 3px;
      }
    }
  }
  
  .post-deletion, .dropdown {
    height: 20px;
    line-height: 20px;
  }
  
  .post-deletion {
    margin-left: 15px;
  }
  
  .post-deletion.delete-icon {
    font-size: 18px;
    
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }
}

.post {
  position: relative;
}

.post-link {
  margin-top: 15px;
  display: block;
  text-decoration: none;
  color: #999;
  background: whitesmoke;
  padding: 10px;
  min-height: 80px;
  
  &:hover {
    text-decoration: none;
    background: #E9E9E9;
    
    &, .post-link-description strong {
      color: #333;
    }
  }
  
  .pull-left {
    margin-right: 10px;
  }
  
  .post-link-description {
    overflow: hidden;
    
    strong {
      line-height: 18px;
      display: block;
      color: #777;
      margin-bottom: 5px;
    }
    
    p {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

.post-text-content, .post-text-content p {
  color: #444;
}

.dropdown.post-status-dropdown {
  display: inline;
  
  .label .caret {
    border-top-color: white;
    margin-top: 5px;
  }
}

html body .label-success {
  background: teal;
}

.media.comment-media {
  margin: 0;
  
  img.pull-left {
    width: 32px;
    margin-right: 7px;
  }
  
  textarea, input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 30px;
  }
}

.post-cant-interact {
  display: block;
  font-style: italic;
  font-size: 12px;
  color: #807e7f;
}
