#content-index
  .container.container-main
    .row
      .span3
        = render 'users/left_column'

      .span6.main-content
        .main-content-wrapper
          %h1 Preferências de Email

          = simple_form_for @user, url: update_preferences_path(@user), html: { class: 'form-horizontal' }, :method => 'post' do |f|
            .control-group
              %label.control-label Enviar e-mail:
              .controls
                %label.checkbox
                  = f.check_box :mail_digest
                  Resumo Semanal (interações de outros usuários com você)
                
                %hr
                
                %label.checkbox
                  = f.check_box :mail_nudge
                  Pedidos de atenção enviados por outros usuários
                
                %hr
                
                %label.checkbox
                  = f.check_box :mail_newsletter
                  Notícias do EuParticipo
            
            .form-actions
              = f.submit class: 'btn btn-primary pull-right', value: 'Enviar'
      .span3
        = render 'users/right_column'