<p>Olá, <strong><%= @nudge.to.name %></strong>,</p>
<p>
  Você está recebendo esse email porque <a href="<%= user_url(@nudge.from) %>"><%= @nudge.from.display_name %></a> 
  está chamando sua atenção no EuParticipo, para que você volte a usar a rede e participe mais. 
  Para acessar, entre em <a href="http://www.euparticipo.com.br">http://www.euparticipo.com.br</a>.</p>
<p>Obrigado,</p>
<p>Equipe do EuParticipo.</p>