<p>Olá, <strong><%= @invite.absent_politician.name %></strong>,</p>
<p>
  Você foi convidado por <a href="<%= user_url(@invite.user) %>"><%= @invite.user.display_name %></a> para fazer 
  parte do EuParticipo, uma rede social voltada para a política.
  Para acessar, entre em <a href="http://www.euparticipo.com.br">http://www.euparticipo.com.br</a> 
  e <a href="<%= new_user_registration_url(tipo: 'parlamentar') %>">crie sua conta como parlamentar</a>.</p>
<p>Obrigado,</p>
<p>Equipe do EuParticipo.</p>