.row
  .span3
  .span6
    .error-box
      %span
        A página que você está procurando não existe.
      %br
      %br
      O endereço digitado pode ter um erro de escrita ou a página procurada pode ter sido removida.
  .span3