.form.session-new
  %h2 Entrar
  
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), 
                                                    :html => {:class => 'form-horizontal devise-signin'}) do |f|
    = f.input :email
    = f.input :password
    .radio
      = f.input_field :remember_me, as: :boolean, inline_label: 'Manter conectado'
    = f.submit :value => 'Entrar', class: 'btn btn-primary'
  
  .clearfix
  = render "devise/shared/links"
