.column_left
  .title_count.first.parlamentares-aliados
    Menu de Administração
  .bs-docs-sidebar.section.politico_left
    %ul.nav.nav-list.bs-docs-sidenav
      %li
        = link_to admin_root_path do
          Painel Principal
          %i.icon.icon-chevron-right
      %li
        = link_to admin_absent_politicians_path do
          Parlamentares Ausentes
          %i.icon.icon-chevron-right
      %li
        = link_to admin_newsletters_path do
          Newsletters
          %i.icon.icon-chevron-right
  
  .title_count.first.parlamentares-aliados
    Estatísticas
  .bs-docs-sidebar.section.politico_left
    %ul.nav.nav-list.bs-docs-sidenav
      %li
        .stat
          Usuários 
          %span.badge.pull-right= User.count
      %li
        .stat
          Políticos 
          %span.badge.pull-right= User.where(role: ['Legislativo', 'Judiciário', 'Executivo', 'Notório']).count
      %li
        .stat
          Postagens 
          %span.badge.pull-right= Post.count
      %li
        .stat
          Comentários 
          %span.badge.pull-right= Comment.count
      %li
        .stat
          Curtidas 
          %span.badge.pull-right= Like.count