.column_right
  .title_count.first.parlamentares-aliados
    Acesso Rápido
  .bs-docs-sidebar.section.politico_left
    %ul.nav.nav-list.bs-docs-sidenav
      %li
        %a{:href => 'http://www.google.com/analytics'}
          Google Analytics 
          %i.icon-chevron-right