- content_for :title do
  = "#{@user.display_name}: #{@page_title} - EuParticipo"
  
#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user
            - if @user.is_politician?
              = render 'users/left_column_politico'
            - else
              = render 'users/left_column_cidadao'
          - else
            %h1 qwe
      .span6.main-content
        .main-content-wrapper
          %h1
            = @user.display_name
            &raquo;
            = @page_title
          - if @users.total_count > 0
            - @users.each do |user|
              = render 'users/card', user: user
            
            .search-center-pagination-link
              = link_to_previous_page @users, '« Anterior'
              = link_to_next_page @users, 'Próxima »'

          - else
            %p Nenhum usuário foi encontrado.
      .span3
        = render 'users/right_column'