.photo-wrapper
  .photo-image
    .img-wrapper
      = image_tag @post.picture.url
  .photo-meta
    .photo-meta-wrapper{id: "post-#{@post.id}"}
      .post-topbar
        = link_to (image_tag @post.user.photo.thumb.url, :class => 'photo_post'), user_path(@post.user)
        .post-name
          = link_to @post.user.short_name, user_path(@post.user), class: 'post-author-name'
        .post-meta
          %span
            = time_ago_in_words(@post.created_at.in_time_zone)
            atrás
                
      .post-text
        = markdown_post @post.content
      
      = render 'posts/feedback', post: @post
