.modal-footer
  - if @previous
    = link_to user_photo_path(@user, @previous), remote: true, class: 'photo-hook btn btn-primary pull-left', id: 'photo-left' do
      &larr; Anterior
  
  - if @next
    = link_to user_photo_path(@user, @next), remote: true, class: 'photo-hook btn btn-primary pull-right', id: 'photo-right' do
      Próxima
      &rarr;