#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1
            = @user.short_name.to_s
            &raquo;
            Fotos

          - if @posts.total_count > 0
            %ul.thumbnails.photos
              = render 'listing'
          - else
            %p.empty-alert
              = @user.name
              ainda não postou nenhuma foto. Quem mais tarde?
                  
          - if @posts.current_page < @posts.total_pages
            .more-posts
              = link_to 'Ver Mais', url_for(page: 2), class: 'btn btn-block', remote: true, id: 'pagination-button'

      .span3
        = render 'users/right_column'

= render 'photos/modal_wrapper'
      
= render 'posts/modal_likes'
