$('ul.photos').append("<%= j render 'photos/listing' %>")
<% if @posts.current_page == @posts.total_pages || @posts.empty? %>
  $('#pagination-button').hide()
<% else %>
  $('#pagination-button').attr('href', "<%= url_for(page: @posts.current_page.to_i + 1) %>")
<% end %>
