$('#modal-photo .modal-loading').fadeOut('fast', function() {
  $('#modal-photo .modal-content').html("<%= j render 'modal' %>").fadeIn('fast')
  binds_likes()
  <% if @next || @previous %>
    $('#modal-photo .modal-footer').replaceWith("<%= j render 'single_pagination' %>")
  <% else %>
    $('#modal-photo .modal-footer').addClass('hide')
  <% end %>
})

$(document).trigger('photoModalShown')
