.post-feedback
  - if user_signed_in?
    - if post.can_interact?(current_user)
      %a{ class: 'post-like-toggle', href: user_post_like_toggle_path(current_user, post),
          data: {remote: true }}
        - if current_user.likes_post?(post)
          Curtir (Remover)
        - else
          Curtir
        %span{class: 'post-like-count'}= post.likes.count
      %a{class: 'post-comment-open-field'}
        Comentar
        %span{class: 'post-comments-count'}= post.comments.count
    - else
      %span.post-cant-interact Para comentar ou curtir esta postagem você precisa ser aliado do parlamentar.
      
  = link_to likes_user_post_path(post.user, post), remote: true do
    %i.icon-thumbs-up
    Veja quem curtiu
  
.post-comments
  - if post.comments.count > 3
    .see-all-comments
      - if post.comments.count < 50
        = link_to "Ver todos os #{post.comments.count} comentários", user_post_comments_path(post.user, post), remote: true
      - else
        = link_to "Ver todos os #{post.comments.count} comentários", user_post_path(post.user, post)
  
  - if post.comments.count > 0
    - comments = post.comments.order('comments.created_at DESC').includes(:user).limit(3).reverse
    - comments.each do |comment|
      = render 'comments/comment', comment: comment
  
  - if user_signed_in? && post.can_interact?(current_user)
    .new-comment-form.post-comment
      .media.comment-trigger-wrapper.comment-media
        = image_tag current_user.get_photo_thumb, class: 'pull-left'
        .media-body  
          %input.comment-trigger{type: 'text', placeholder: 'Escreva um comentário...'}
          = form_for([current_user, post, Comment.new], remote: true, html: {class: 'hide post-comment-form'}) do |f|
            %input.hide{:type => 'hidden', :name => 'authenticity_token', :value => form_authenticity_token}
            %textarea.post-coment-box{name: 'comment[content]'}
     
            %button.btn.post-feedback-form-button.btn-primary.pull-right{type: 'submit', data: {disable_with: 'Aguarde...'}} Comentar
        
      .clearfix