- if @likes.count > 0
  %ul.thumbnails.users-listing
    - @likes.each do |like|
      %li
        = link_to user_path(like.user), title: like.user.name do
          = image_tag like.user.photo.thumb, title: like.user.name
- else
  %p.section
    %em Ninguém curtiu essa postagem ainda.