#posts
  = render 'users/posts', posts: posts
- if posts.length > 5
  .more-posts
    = link_to 'Ver Mais', url_for(page: 2), class: 'btn btn-block', remote: true, id: 'pagination-button'
    
= render 'posts/modal_likes'
= render 'photos/modal_wrapper'