.modal.hide#modal-likes
  .modal-header
    %button{type:"button", class:"close", data: {dismiss:"modal"}, aria: {hidden:"true"}}
      &times;
    %h3
      Quem curtiu esta postagem
      
  .modal-body
  .modal-footer
    = link_to 'Fechar', '#', class: 'btn btn-cancel', data: {dismiss: 'modal'}