$('#posts').prepend("<%= j render 'users/post', post: @post %>")
inserted_post = $('#posts').find('.post').first()
$(inserted_post).hide().fadeIn()
$('#post_content').val('')
$('#speak-hook').show()
$('#new_post').hide()

binds_deletions()
binds_comments()
binds_likes()