= content_for :title do
  = "EuParticipo / #{@user.display_name}: #{@post.content.truncate(50)}"
  
- content_for :description do
  = @post.content.truncate(120)

- content_for :image do
  = get_full_url(@user.photo.url)

#content-index
  .container.container-main
    .row
      .span3
        .column_left
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'

      .span6.main-content
        .main-content-wrapper
          %h1 Postagens

          %input{type: 'hidden', value: 1, id: 'pagination-count'}
          #posts
            = render 'users/post', post: @post


      .span3
        = render 'users/right_column'
