- if @status && @post.status == @status
  $("#post-#{@post.id} .post-status-dropdown .dropdown-toggle").html("#{j status_label(@post, true)}")
  $("#post-#{@post.id} .post-status-dropdown").removeClass('open')
