.container.container-about
  .row
    .span4.bs-docs-sidebar
      %ul.nav.nav-list.bs-docs-sidenav.affix{'data-spy'=>'affix', 'data-offset-top'=>'120'}
        %li.active
          %a{:href => about_path}
            EuParticipo
            %i.icon-chevron-right
        %li
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li
          %a{:href => privacy_path}
            Política de Privacidade
            %i.icon-chevron-right
        %li
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
            
    .span8.text-justify
      .pull-right
        “Nada é permanente, exceto a mudança.”
      %br
      .pull-right
        &mdash; Heráclito 
      .clearfix

      %h1 O QUE É A IDEIA?

      %p A Ideia consiste em criar uma Rede Social Virtual no Brasil com foco no engajamento político dos cidadãos. Um espaço que ofereça ao usuário da rede, através de seu perfil pessoal, diversos instrumentos funcionais para que este exerça sua cidadania política de forma criativa, acessível e concreta. Uma nova Rede Social Brasileira, não “mais uma”. Focada em política e orientada nos princípios da democracia direta.

      %p A Rede é uma iniciativa experimental, aberta, sem fins de lucro e disposta a inovar conceitos e padrões. Conectada às imprevisíveis inovações tecnológicas por que passa o mundo, busca “arrastar” a política institucional para o mundo virtual. É algo novo, dentro do novo (a Internet).

      %p Coloque sua imaginação pra funcionar... sem moderação, sem medo, esqueça a tradição, os limites. Queremos Reinventar a Política, e os Políticos. E pra isso, a Imaginação terá que tomar o Poder... e ser maior do que nós e do que está posto. O Estado é uma invenção, Poder é uma invenção, a Política é uma invenção, a Nova Política também será... Junte-se a nós, e chame mais gente. Mãos... muitas mãos, à Obra. 

      %h1 OBJETIVOS

      %p Reinventar a Política. Torna-la sábia, criativa, leve, honesta e inspiradora, fortalecendo o Poder Popular e criando condições objetivas para o surgimento de um novo Sistema Político no Brasil: A DEMOCRACIA DIRETA. 

      %p O Objetivo Maior da Rede é fazer com que o Cidadão através de um perfil disponha de vários instrumentos de participação política e exercício de cidadania. Nesta etapa inaugural o foco serão os instrumentos que possibilitem ao Cidadão a participação colaborativa junto a mandatos parlamentares.

      %h1 A ETAPA INAUGURAL – O Parlamentar Virtual

      %p A missão primeira (de democratizar os parlamentos) se justifica pela tentativa de reparar essa debilidade do sistema político nacional, onde a relação entre eleitor e eleito se resume ao instante do voto, de 4 em 4 anos. Essa debilidade assume ares curiosos quando observamos que até em mandatos executivos (de prefeitos e governadores), que são estruturas bem mais complexas, existem mais mecanismos de controle social do que em mandatos parlamentares. 

      %p Exemplos conhecidos como o orçamento participativo, conferências setoriais, conselhos de gestão já atingiram em muitos lugares o status de políticas publicas permanentes. Portanto, não seria injusto afirmar que os mandatos executivos frente aos parlamentares são mais “controlados” pela sociedade.

      %p Mais do que permitir a democratização de mandatos parlamentares, a Rede intenta pela melhoria no exercício da função, visto que a gestão compartilhada dos mandatos, onde várias “cabeças” pensam junto e onde o político reencontra aqueles que o elegeu, pode levar o exercício do mandato à excelência. Modernizar a Custo Zero, Qualificar e Popularizar a atuação parlamentar, e Possibilitar o Controle do Eleito pelos Eleitores será a tríade que pretendemos impulsionar nas casas legislativas. 

      %p Do ponto de vista dos eleitores a intenção é fortalecer o poder popular ao mesmo tempo em que se remodelam os instrumentos de que este até então dispõe. É a política sendo exercida por todos, no dia a dia. Alterando o hábito político dos eleitores. Tudo isso, através de um meio (a Internet) que se apresenta com “um caminho sem volta” na vida das pessoas, que concentra grande parte do fluxo comunicacional e tem impulsionado um novo momento político no país. 

      %p Portanto, democratizar mandatos parlamentares é a primeira intenção da Rede. E como nos propormos a fazer isso? A solução é simples. Juntaremos na Rede Cidadãos e Parlamentares de todos os níveis de poder (vereadores, deputados estaduais e federais, e senadores) cada um com perfis (página pessoal) distintos. O Cidadão ao entrar na Rede poderá, de livre escolha, se aliar com 1 parlamentar de cada nível de poder que tiver previamente se cadastrado na Rede e a partir disso poderá utilizar de forma direta, e semelhante ao Parlamentar, todos os instrumentos “burocráticos” da ação parlamentar de que o “eleito” dispõe para atuar, fazendo do Cidadão um “parlamentar virtual”. 

      %h1 CONCEITOS FUNDAMENTAIS E FUTURO

      %p Como materializar a democracia direta no mundo de hoje? Seria possível? Que impactos teria? Estas questões nos inquietam. A Rede Social EuParticipo se orienta pelos ideais da democracia direta e tenta, através de seus meios, materializá-los. Busca aperfeiçoar a democracia representativa através do engajamento político virtual, por meios ainda não institucionalizados e em um ambiente onde o fluxo de conteúdo e a moderação são auto-gestionários, onde o eixo central de atuação é o perfil do Cidadão, que disporá de diversos mecanismos para se articular e atuar politicamente, estimulando e potencializando sua intervenção política na sociedade. 

      %p Várias novas ferramentas estão previstas e serão postas no ar nos meses vindouros. Desde já afirmamos que elas seguirão nos mesmo princípios que orientam esta primeira etapa e pretendemos desenvolvê-las em plataforma COMUNITÁRIA (inclusive a Criação), assim como implantar um Governo da Rede (a República) e um Portal da Transparência dos Gastos e Receitas da mesma. Vem mais coisa por ai... 

      %h1 MUITO OBRIGADO!

      %p Muitas pessoas nos ajudaram até aqui. A todas elas queremos dirigir um agradecimento sincero, e em especial a... Felipe Rolim (por todo apoio dado na concepção técnica deste projeto, pela parceria e pelas incontáveis ajudas), a Felipe Camilo (o primeiro colaborador desta ideia), a Bruno Cavalcante e Gil Magno da Astux (pelos conselhos valiosos, esforço e brilhantismo no desenvolvimento do EuParticipo) e a toda equipe Astux (Renata Gadelha, Kim Lima e Thiago Oliveira). A Leandro Bezerra (pelo vídeo) e a Gerson Saraiva, Hemanuelle Freitas, Luana Marques, Pryscila Martins, Savio Felix e Ingrid Ramalho (pelos diversos apoios e pelo encorajamento). Obrigado!