.container.container-about
  .row
    .span4.bs-docs-sidebar
      %ul.nav.nav-list.bs-docs-sidenav.affix{'data-spy'=>'affix', 'data-offset-top'=>'120'}
        %li
          %a{:href => about_path}
            EuParticipo
            %i.icon-chevron-right
        %li
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li
          %a{:href => privacy_path}
            Política de Privacidade
            %i.icon-chevron-right
        %li.active
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
    .span8.contact
      %h1 CONTATO
      = form_tag(send_contact_path, method: :post, class: 'no-bottom-margin') do |f|
        = hidden_field_tag :origin, contact_path()
        %p.control-group
          = label_tag :name, "Nome", class: 'control-label'
          = text_field_tag :name, nil, class: 'input-width', required: true
        %p.control-group
          = label_tag :email, "E-mail", class: 'control-label'
          = email_field_tag :email, nil, class: 'input-width', required: true
        %p.control-group
          = label_tag :subject, "Assunto", class: 'control-label'
          .row-fluid
            = text_field_tag :subject, nil, class: 'input-width'
        %p.control-group
          = label_tag :message, "Mensagem", class: 'control-label'
          .row-fluid
            = text_area_tag :message, nil, :rows => 15, class: 'input-width', required: true
      

        = submit_tag "Enviar", class: 'btn btn-primary pull-right'
        .clearfix