.container.container-about
  .row
    .span4.bs-docs-sidebar
      %ul.nav.nav-list.bs-docs-sidenav.affix{'data-spy'=>'affix', 'data-offset-top'=>'120'}
        %li
          %a{:href => about_path}
            EuParticipo
            %i.icon-chevron-right
        %li
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li.active
          %a{:href => privacy_path}
            Política de Privacidade
            %i.icon-chevron-right
        %li
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
            
    .span8.text-justify
    
      %p Nossos servidores guardam informações sobre os usuários da Rede EuParticipo ("Rede"). Estes termos tratam sobre estes dados e sobre a privacidade do usuário.

      %h2 Informação dadas explicitamente
      %p Ao entrar na Rede, o usuário pode informar vários dados seus, como nome, idade, cidade natal entre outros. Essas informações são armazenadas em nossos servidores até que a conta do usuário venha a ser cancelada.

      %h2 Logs de servidor web
      %p Guardamos os logs de servidor web. Usaremos tais logs para fazer relatórios de acesso às páginas e para melhoria do serviço. Nossa política de logs ainda está em definição. É provável que, após os relatórios, feitos de maneira a não identificar o usuário individualmente, nós apaguemos os logs. Atualizaremos esta política logo que esta definição for feita.

      %h2 Uso das Informações
      %p Não usaremos as informações coletadas de forma comercial. Poderemos usar informações como email do usuário para nos comunicarmos com o mesmo sobre atualizações na Rede e assuntos relevantes que julguemos serem construtivos aos usuários. Tais emails NÃO SERÃO DE MANEIRA NENHUMA disponibilizados a terceiros.

      %h2 Propriedade Intelectual Sobre o Conteúdo e Uso deste
      %p Você mantém propriedade intelectual sobre o conteúdo gerado pelo seu perfil (conta) no EuParticipo. No entanto, você concorda que temos sua licença sobre o conteúdo para, em qualquer lugar do mundo, usar, armazenar, reproduzir, modificar, criar trabalhos derivados, comunicar, publicar, mostrar publicamente, distribuir o conteúdo e elaborar melhorias na rede. 

      %h2 Segurança das Informações
      %p Esforçamo-nos para garantir a segurança dos dados dos usuários da Rede. Nossa infra-estrutura roda o Debian GNU/Linux e temos grande preferência por software livre.
      %p Nossa ação é no sentido de nos resguardar para que eventuais ataques não logrem êxito, apesar de que, assim como qualquer plataforma na Internet, não estamos completamente livres dos riscos de eventuais ataques. Por isso, não responderemos  por prejuízos que possam ser derivados da violação dessas medidas por parte de terceiros que utilizem a internet, subvertendo os sistemas de segurança para acessar as informações de Usuários.
      %p Se você tem conhecimentos em segurança da informação e quiser contribuir com a Rede, por favor, contate-nos. Toda ajuda é bem-vinda.

      %h2 Transparência
      %p Esforçar-nos-emos para manter estes termos atualizados e para informar aos usuários quando acontecerem mudanças.
      %p Nossa intenção é que a relação do usuário com a Rede seja transparente. Nossa intenção é, também, estimular o usuário a se informar sobre estes termos, por dois motivos:
      %p Porque acreditamos que, ao usar qualquer serviço (ou consumir qualquer produto), na Internet e fora dela, os usuários devem ter consciência do que é este serviço, seu histórico, o que representa e de como este serviço os trata.
      %p Porque estes termos são o registro formal que mostra o valor que o EuParticipo dá a cada usuário

      %p Remoção de conta
      %p Quando de uma remoção de conta de usuário da Rede, removeremos de nossos servidores:
      %ul
        %li Informações pessoais da conta do usuário, como foto, nome, nascimento etc.
        %li Postagens
        %li Comentários
      %p Esses dados serão efetivamente removidos de nossos servidores, o que implica que não poderemos resgatar (nem acessar) esses dados após sua remoção.

      %h2 Modificação da Política de Privacidade
      %p Esta Política de Privacidade pode modificar-se periodicamente, para correção de falhas, inclusão de melhor redação entre outros motivos. No entanto, esta Política não será modificada de forma a restringir liberdades garantidas anteriormente, por esta Política de Privacidade. Mais ainda, haverá um esforço no sentido de discutir abertamente futuras mudanças.

      %p 23 de Agosto de 2013.

