.container.container-about
  .row
    .span4.bs-docs-sidebar
      %ul.nav.nav-list.bs-docs-sidenav.affix{'data-spy'=>'affix', 'data-offset-top'=>'120'}
        %li
          %a{:href => about_path}
            EuParticipo
            %i.icon-chevron-right
        %li.active
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li
          %a{:href => privacy_path}
            Política de Privacidade
            %i.icon-chevron-right
        %li
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
            
    .span8.text-justify

      %p Ao se cadastrar no EuParticipo você está concordando com esses Termos de Uso ("termos").

      %h2 Nossos Termos de Uso (Garantias e Responsabilidades)
      %ul
        %li O EuParticipo é,  e sempre será, um serviço gratuito.
        %li Não nos responsabilizamos pelo conteúdo disponibilizado no EuParticipo, o mesmo é de inteira responsabilidade de seus autores.
        %li Não serão permitidas postagens que visem burlar os sistemas de pontuação e rankiamento do EuParticipo.
        %li Não serão permitidos perfis (contas) falsas, quando devidamente identificados serão excluídos.
        %li Não se fará censura. Não se restringirá a liberdade de opinião dentro do EuParticipo. 
        %li Não se poderá usar o EuParticipo para se provomer racismos e discriminações relativas à etnia, afetividade/sexualidade, classe social, gênero, geracional, religiosas ou outras previstas em lei.
        %li Não é permitida a prática de postagens com conteúdo de sexo explícito fora do contexto de uma discussão ou que não contenha conteúdo político. Assim como de postagens com conteúdo de pedofilia, exploração sexual de menores ou incentivo a esses.
        %li Não se poderá usar o EuParticipo para se distribuir dados pessoais ou confidenciais de terceiros.
        %li Não é permitida a prática de "SPAM" no EuParticipo, ou seja, qualquer tipo de postagens com intuito de desorganização ou postagens múltiplas sem conteúdo pertinente. 
        %li Não é permitido o acesso à conta de terceiros. Caso você tenha acesso a uma ou mais contas que não lhe pertençam, você deverá avisar à administração da Rede.
        %li Não é permitida a presença de perfis (contas) com o intuito de publicidade comercial.
        %li  “Bots” e outras maneiras de cadastros automáticos não são permitidos no EuParticipo.
        %li O Usuário não pode usar o serviço de nenhuma maneira ilegal.
        %li O Usuário é responsável pelo conteúdo que postar no serviço e pela atividade de sua conta (perfil) no EuParticipo.
        %li O Usuário ao detectar ou tomar conhecimento de qualquer violação a esses Termos de Uso ou a nossa Política de Privacidade deverá comunicar a administração do EuParticipo pelo email contato@euparticipo.com.br. 
        %li Estes Termos de Uso não geram nenhum contrato, mandato, franquia, vínculo trabalhista ou societário entre o EuParticipo e o Usuário. 
        %li Esforçaremos-nos para assegurar o pleno funcionamento das funcionalidades e a sua disponibilidade, porem, devido ao caráter não-empresarial de nossa gestão não garantimos que os mesmos sejam prestados de forma ininterrupta ou livre de erros. Até o limite permitido pela lei, nos excluímos de qualquer garantia sobre o serviço. Os Usuários não poderão atribuir ao EuParticipo nenhuma responsabilidade por dificuldades técnicas ou falhas nos sistemas. Eventualmente, o sistema poderá não estar disponível por motivos técnicos ou falhas da internet, ou por qualquer outro evento fortuito ou de força maior alheio ao nosso controle. Não seremos responsáveis por qualquer vírus que possa atacar o equipamento do Usuário em decorrência do acesso, utilização ou navegação no site na internet; assim como transferência de dados, arquivos, imagens, textos ou áudios.

      %h2 Modificação dos Termos de Uso
      %p Nossos Termos de Uso poderão mudar com o tempo, para correção de falhas, inclusão de melhor redação ou para se adaptar a mudanças no EuParticipo ou na lei, entre outros motivos. No entanto, estes Termos não serão modificados de forma a restringir liberdades garantidas anteriormente. Haverá um esforço no sentido de discutir abertamente futuras mudanças.

      %h2 Legislação Aplicada a Disputas
      %p Você concorda que qualquer disputa sobre esses termos ou sobre o serviço será julgada sob as leis brasileiras e, mais especificamente, quando possível, na cidade de Fortaleza, no Estado do Ceará.

      %p Em 21 de Agosto de 2013
