- unless !user_signed_in? or current_user.id == user.id
  - id = "ally-#{user.id}"
  - if !current_user.allied?(user)
    - confirm = nil
    - if previous_alliance = Alliance.where(citizen_id: current_user.id).where_position(user.political_position).first
      - confirm = "#{previous_alliance.allied_politician.political_nickname} já é sua prioridade para esta posição. Tem certeza que deseja trocar?"
      
    = link_to 'Aliar-me', ally_allied_politician_path(user), class: 'btn btn-primary btn-block btn-alliance', id: id, remote: true, confirm: confirm
  - else
    = link_to 'Aliado', unally_allied_politician_path(user), class: 'btn btn-success btn-block btn-pushed btn-alliance', id: id, remote: true