.search-card
  .search-card-photo
    = link_to (image_tag user.photo.thumb.url, width: 40), user_path(user)
  .search-card-text
    = link_to user.political_nickname, user_path(user), class: 'post-author-name'
    %br
    - if user.is_politician? and user.political_position
      %span
        = user.political_position
        - if user.party
          = " - " + user.party.name
      %br
      - if user.political_city
        %span= user.political_city.name
      - if user.political_state
        %span
          - if user.political_city
            = ' - '
          = user.political_state.abbreviation
        
  .search-card-actions
    = render 'alliance_button_widget', user: user
    = render 'users/follow_button_widget', user: user
    
  .clearfix