#modal-invite-politician.modal.hide
  = form_tag(allied_politicians_path, method: :post, class: 'no-bottom-margin') do |f|
    .modal-header
      %button{type:"button", class:"close", data: {dismiss:"modal"}, aria: {hidden:"true"}}
        &times;
      %h3
        Convidar parlamentar
        
    .modal-body
      = hidden_field_tag :user_id, current_user.id
      
      .control-group.no-bottom-margin
        %label.control-label Político a convidar:
        .controls
          = select_tag :absent_politician_id, 
                       options_from_collection_for_select(AbsentPolitician.order('name ASC'), :id, :full_name), 
                       class: 'chosen modal-chosen'
    
      %hr
    
      %p.empty-alert.section
        Iremos comunicar o parlamentar que você quer escolher da sua intenção de que ele também faça parte do 
        EuParticipo.
    
    .modal-footer
      = submit_tag 'Convidar', class: 'btn btn-primary pull-left'
      = link_to 'Fechar', '#', class: 'btn btn-cancel', data: {dismiss: 'modal'}
