<% if @previous_alliance %>
  $("#ally-<%= @previous_alliance.politician_id %>").replaceWith("<%= j render 'alliance_button_widget', user: @previous_alliance.allied_politician %>")
<% end %>
$("#ally-<%= @politician.id%>").replaceWith("<%= j render 'alliance_button_widget', user: @politician %>")
$("#follow-<%= @politician.id%>").replaceWith("<%= j render 'users/follow_button_widget', user: @politician %>")

<%- if @allied %>
alert("Pronto. Agora você pode interagir com <%= @politician.political_nickname %> através da sua página aqui no EuParticipo.")
<% end %>
