- content_for :title do
  Alie-se a um 
  = @position_name

.container.container-main
  .row
    .span3
      .column_left
        - if @user
          - if @user.is_politician?
            = render 'users/left_column_politico'
          - else
            = render 'users/left_column_cidadao'
        - else
          /
    .span6.main-content
      %h1
        Escolha um  
        = @position_name
        aliado

      .ajuste{style: "text-align: center; margin-bottom: 15px;"}
        %a.btn.btn-tutorial{"data-toggle" => "modal", :href => "#modal-how-it-works", :role => "button"}
          %i.icon-question-sign.icon-white.icon
          Como Funciona o EuParticipo?

      %p.inline-links
        %b
          - ['Vereador', 'Deputado Estadual', 'Deputado Federal', 'Senador'].each_with_index do |pp, i|
            = "|" if i > 0
            = link_to pp, url_for(params.merge(position: pp.parameterize)), class: ('active' if pp == @position_name)
      
      
      #form-search
        %input{type: 'hidden', id: 'q', value: params[:q]}
        .row-fluid
          .span5
            = select_tag :uf, options_from_collection_for_select(State.order('name ASC'), 'abbreviation', 'name', @uf), prompt: 'Todos os Estados', class: 'span12'
          .span7
            - if @state
              = select_tag :cidade, options_from_collection_for_select(City.where(state_id: @state.id).order('name ASC'), 'id', 'name', @cidade_id), prompt: 'Todas as Cidades', class: 'span12'
      
      - if @users.length > 0
        - @users.each do |user|
          = render 'card', user: user

        .search-center-pagination-link
          = link_to_previous_page @users, '« Anterior'
          = link_to_next_page @users, 'Próxima »'

      - else
        %p Nenhum parlamentar foi encontrado.
        
      %hr
      
      %p
        O parlamentar que você quer escolher não está aqui? Convide-o para se juntar ao EuParticipo!
      %p.align-center
        = link_to politician_invites_path, class: 'btn btn-primary align-center' do 
          Convidar Parlamentar
      
    .span3
      = render 'users/right_column'
            
= render 'tutorial/how_it_works'
