alert('Pronto! <%= @user.name %> será notificado da sua indicação de <%= @politician.display_name %>.');
$('#recommend-<%= @politician.id %>').tooltip('hide')
$('#recommend-<%= @politician.id %>').replaceWith('<strong>Indicado!</strong>')
