/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require vendor
 *= require_tree ./screen
 */
@import "variables";
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic");

html, 
body {
  height: 100%;
}

html body {
  background: $background_grey;
  color: $font_grey;
  
  &, input, button {
    font-family: 'Lato';
  }
  
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
 
  .btn{
    line-height: 20px;

  }
  .btn-inverse{
    background-image: linear-gradient(to bottom, #757575, #414141);
  }
  .btn-primary{
    @include degrade($primary_color, darken($primary_color, 5%));
    border-color: darken($primary_color, 5%); /*ie*/
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    
    &:hover, &:focus, &:active {
      filter: none; /*ie*/
      background: darken($primary_color, 5%);
	  }
	  
	  &.btn-primary-dark{
      @include degrade(darken($primary_color, 5%), darken($primary_color, 10%));
      
      &:hover{
        background: darken($primary_color, 10%);
      }
    }
  }
  
  input[type=text]:focus, textarea:focus, input[type=email]:focus {
    border-color: teal;
  }
    
  a{
    cursor: pointer;
    color: $primary_color;
	
    &:hover{
	   color: darken($primary_color, 10%)
	  }
  }
  .btn-logo{
    font-size: 15px;
    font-weight: 700;
    color: white;
    display: block;
    background: url(image_path('logo-button.png')) no-repeat;
    width: 196px;
    height: 47px;
    padding-top: 16px;
    
    a {
      color: white;
    }
  }
}
hr.dark{
  border-top-width: 3px;
  border-color: #DDD;
  border-bottom: 0px;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
ul.inline {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
	display: inline-block;
	*display: inline;
    }
}
.font_color_gray{
  color: $font_grey;
}

/*Topbar*/
#top-bar{
  background: $primary_color;
  color: white;
  padding: $gutter 0px;
  height: 20px;
  @include boxshadow-topbar();
 
  .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
    @include boxshadow-topbar();
  }

  .pushing-right {
    margin-left: 75px
  }
  &.topbar-index{
    height: 75px;
  }
  form{
    margin-bottom: 0px;
  }
  a{
    color: white;
    display: inline-block;
    
    &:hover{
      background-color: darker($primary_color, 5%);
    }
  }
  .logo-big{
    margin-bottom: -66px;
    width: 400px;
    margin-top: -20px;
  }
  .span6{
    margin-top: 10px;
    
    .link-password{
      width: 170px;
    }
  }
  .topbar-right{
    width: 520px;
  }
  .margin-topbar{
    /*margin-left: 25px;*/
   margin-left: 12px;
  }
  .link-news{
    a:hover{
      text-decoration: none;
    }
    
    a {
      position: relative;
      
      .badge {
        position: absolute;
        top: -7px;
        right: -6px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 1px;
        box-shadow: 0 1px 0 rgba(0, 39, 121, .77);
      }
    }
  }
  .appendedInputButton{
    width: 155px;
  }
  .badge-important{
   background-color: lightgreen;
   color: $primary_color; 
  }
  /*Dropdown dentro do #top-bar*/
  $photo_dropdown: 30px;
  
  .navbar .nav > li > a{
    padding: 4px;
  }
  .nav-pills > li > a{
    margin: 0px;
  }
  .photo_dropdown{
    /*width: $photo_dropdown;*/
    height: $photo_dropdown;
    float: left;
  }
  ul.nav{
    margin-top: -2px;
    
    b{
      margin-top: 13px;
    }
  }
  .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
    background: lighten($primary_color, 5%)
  }
  .dropdown-menu {
    padding: 10px 0px;
    
    li{
      display: inherit;
      padding: 0px;
    }
    
    a{
      color: $primary_color;
      display: inherit;
      
      &:hover, &:focus {
        filter: none; /*ie*/
        background: $background_grey;
      }
    }
  }
  
  .dropdown-toggle:hover .caret-topbar {
    border-top-color: white;
    border-bottom-color: white;
  }
  
  .caret-topbar {
    border-top-color: $lighter_primary_color;
    border-bottom-color: $lighter_primary_color;
  }
  
  /*Dropdown Fim*/
    
  .email{
    width: 180px;
  }
  .options, label{
    font-size: -2px + $font_size;
  }
  input{
  /*margin-right: 5px;*/
  }
  .control-group{
    margin-bottom: 5px;
  }
  #topbar-right-not-logged {
    margin-left: 215px;
    
    .btn {
      margin-top: 0px
    }
  }
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}	
.wrap-profile{
  background: url(image_path('background.jpg')) repeat-y $background_grey;
  background-position: center;
}
.test{
  position: relative;
  
  img{
    position: absolute;
    bottom: -10px;
    right: 8px;
    width: 49px;
  }
}
/*Cadastro Index*/
.form{
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: right;
    
  form{
    width: 390px;
    float: right;
    
    .birth_welcome{
      select{
        width: 70px;
      }
    }
    h2{
      text-transform: uppercase;
      font-size: 26px;
      line-height: 16px;
    }
    h4{
      margin-bottom: 20px;
    }
    .parlamentar{
      color: $font_grey_dark;
      margin-top: $gutter;
      
      a{
        font-size: 2px + $font_size;
      }
    }
    .form-actions{
      padding-right: 0px;
    }
    #user_photo{
      width: 220px;
    }
  }
  .form-horizontal .control-label {
    width: 188px;
  }
  
  .form-horizontal .control-group {
    width: 390px;
    margin-bottom: 8px;
    
    .controls{
      width: 220px;
      margin-left: 190px;
	    padding-left: 10px;
	    text-align: left;
	  }
	  .register{
	    width: 100%;
	  }
	}
	.day{
	  width: 20px;
	  margin-right: 5px;
	}
	.year{
	  width: 40px;
	} 
}
.video{
  margin-top: 7*$gutter;
}
.show-birthday {
  margin-top: -15px;
  
  label {
    margin-bottom: 0;
  }
}

/* todos os nascimentos com campos pequenos */
.birth_welcome{
  select{
    width: 70px;
  }
}
#form-citizen, #form-politician, #edit_user_3, #edit_user_1{
  width: 420px;
  .form-actions{
    background: transparent;
  }
  #user_photo{
    width: 220px;
  }
}

/*navbar*/
html body .navbar .navbar-inner {
  background: $primary_color;
  border: none;
  padding: 10px 0px 0px;
  font-weight: bold;
  filter: none; /*ie*/

  a{
    color: white;

  }
  .logo{

	  margin-bottom: -20px;
	  margin-left: 40px;
  }
  .input-append{
    margin-bottom: 0px;
  }
  ul {
    margin: 0;
  	padding: 0;
  	list-style: none;
  	
  	li {
  	  display: inline-block;
  	  *display: inline;
  	  padding: 0px 12px;
  	}
  }
  .search{
    /*width: 180px;*/
  }
  .span9{
    margin-top: 12px;
  }
}
.search-center-pagination-link {
    text-align: center
}
.search-card {
    border-radius: 4px;
    background-color: #eee;
    padding: 10px;
    margin: 0 0 10px 0;
    
    .search-card-photo {
        float: left;
    }
    .search-card-text {
        float: left;
        width: 260px;
        margin-left: 10px;
    }
    .search-card-actions {
        float: right;
        width: 110px;
        
        .btn {
          padding: 2px 10px;
          font-size: 11.9px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-top: 8px;
        }
    }
}

/*Container*/
#all {
    padding-top: 50px;
    
    .span3, .span6{
	text-align: center;
    }
}
/*Main Content*/
.container-main{
    /*margin-top: 30px;*/
    padding-bottom: 40px; 
}
.main-content{
    padding-top: 10px;
}
.main-content-wrapper{
    padding: 0.5*$gutter 0px;
    
    h1 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
}
.speak{
    font-size: +2px + $font_size;
    font-weight: 700;
    color: lighten($font_grey, 10%);

    textarea{
	margin-top: 5px;
    }
    button {
      padding: 2px 7px;
    }   
}
.speech{
    text-align: right;
    margin-top: -6px;
    margin-bottom: -10px;
    img{
	margin: -19px 8px 10px 0px;
    }
}
.post{
    text-align: left;
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    border-bottom: 1px solid #eee;
    
    a.permalink span {
      color: $font_grey;
    }
}
$photo_post: 40px;
.post-topbar{
    height: $photo_post;
    width: 460px;
}
.photo_post{
    width: $photo_post;
    height: $photo_post;
    float: left;
}

img {
    border: 1px solid white;
    border-radius: 4px;
}

.post-name{
    margin-left: $photo_post;
    width: 400px;
    padding: 0 10px;
    font-size: 2px + $font-size;
    .post-deletion {
        font-size: 10px;
    }
    span{
    	font-size: -2px + $font-size;
    	letter-spacing: 0.3px;
    }
}
.post-text {
  margin-left: $photo_post;
  padding: 10px 10px 14px;
  font-size: 1px + $font-size;
  color: $font_color;
  @include break-word;
          
  > *:last-child {
    margin-bottom: 0;
  }
  
  .post-text-content > *:last-child {
    margin-bottom: 0;
  }
  
  img {
    border-radius: 0;
  }
  
  a.photo-zoom {
    display: block;
    margin-top: 12px;
    
    &.no-text {
      margin-top: 0;
    }
  }
}

.post-feedback{
    margin-left: 10px + $photo_post;
    padding: 5px;
    font-size: -4px + $font-size;
    text-align: left;
    border-top: solid 1px #eee;
    
    .post-feedback-form-button {
        margin-right: 16px;
        padding: 2px 7px;
    }
    
    .clearfix {
        margin-bottom: 11px;
    }
    
    form {
        margin-top: 7px;
        margin-bottom: -5px;
    }
    
    a {
	   color: $font_grey;
	   margin-right: 10px;
	   letter-spacing: 0.3px;	
	   
	   i.icon-thumbs-up {
	     margin-top: -1px;
	     margin-right: 3px;
	   }
    }
}
.see-all-comments {
    margin-left: 10px + $photo_post;
    margin-bottom: -1px;
    padding: 6px 10px;
    background: $background_grey;
    border: solid 1px lighten($font_grey, 40%);
    font-size: -2px + $font_size;
}
.post-comment{
    min-height: 40px;
    margin-left: 10px + $photo_post;
    margin-bottom: -1px;
    padding: 6px;
    background: $background_grey;
    border: solid 1px lighten($font_grey, 40%);
    font-size: -1px + $font_size;
    
    .time {
      margin-left: 1px;
      font-size: -4px + $font_size;
    }
}
$photo_comment: 32px;
.photo_comment{
    width: $photo_comment;
    /*	height: $photo_comment;*/
    float: left;
}
.post-comment-name, .post-author-name {
  color: #404040;
  font-weight: bold;
  
  &:hover {
    color: $primary_color
  }
}

.post-comment-name{
    margin-left: 7px;
}
.post-comment-text{
  margin-top: 0px;
  width: 330px;
  margin-left: 7px + $photo_comment;
  line-height: 16px;
  color: #444;
  word-break: break-word;
  
  > *:last-child {
    margin-bottom: 0;
  }
}
.more-posts{
    text-align: center;
    
    button{
        width: 100%;
    }
    .btn-primary[disabled]{
        background: grey;
    }
}
/*Main Content - Participe*/
.btn-group{
    a.btn{
        width: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: -2px + $font_size;
    }
}
html .btn-toolbar{
    
    .btn{
        background: $background_grey;
        border: solid 1px darken($background_grey, 5%);
        
        &:hover{
            background: darken($background_grey, 5%);
        }
    }
    
    &.top-toolbar{
        margin-bottom: 0px;
        margin-top: 0px;
        
        .btn-group > .btn:first-child{
            border-bottom-left-radius: 0px;
        }
        .btn-group > .btn:last-child{
            border-bottom-right-radius: 0px;
        }
    }
    &.bottom-toolbar{
        margin-top: -1px;
        
        .btn-group > .btn:first-child{
            border-top-left-radius: 0px;
        }
        
        .btn-group > .btn:last-child{
            border-top-right-radius: 0px;
        }
    }

    .btn-group + .btn-group{
        margin-left: 0px;
    }
}
/*Main Content*/
.btn-group{
    a.btn.atuacao{
        width: 128px;
        font-size: -2px + $font_size;
    }
}

/*Siderbar Left*/
.column_left .about.section {
  word-break: break-word;
}

.column_left, .column_right{
  padding: 15px 10px 20px;
  color: $font_grey_dark;
  text-align: center;
  
  .advertising {
    margin: 40px 0;
  }

  .banner-text {
    font-size: 12px;
    color: #807e7f;
    padding: 4px;
    background: #e1e1e1;
    text-align: justify;
    //margin-top: 70px;
    
    p {
      font-style: italic;
    }
  }

  h3{
    margin-top: 15px;
    font-size: 22px;
    line-height: 28px;
    word-wrap: break-word;
  }
  span{
    color: $font_grey;
    /*font-weight: 700;*/
   
   &.political-position-right-column {
     font-size: 11px;
     line-height: 14px;
   }
  }
  .img-hover{ 
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    /*float: left;*/
    
    .img-container{ 
      position: relative;
      
      a { 
        color: transparent;
        display: none; 
        width: 100%;
        position: absolute; 
        bottom: 0; 
        right: 0;
        color: white;
        background: rgba(0,0,0,.4);
      }
      &:hover{
        a{
          display: block;
          height: 30px;
          padding-top: 5px;
        }
      }
    }
  }
  .photo_profile{
    /*width: 200px;*/
    /*height: 200px;*/
    @include boxshadow();
  }
  .btn{
    /*width: 170px;*/
    font-size: 1px+ $font_size;
    margin: 5px 0px;
  }
  .flag{
    margin-top: -2px;
    margin-left: 5px;
  }
  ul.inline {
    margin-left: -8px;
    margin-top: 7px;
    
    li {
      padding: 0;
	    
	    .photo_friend{
	      width: 40px;
	      height: 40px;
        padding: 0;
        margin-left: 4px;
        margin-top: 7px;
	    }
	  }
  }
}
.title_count{
  background: darken($background_grey, 8%);
  font-size: 2px + $font_size;
  padding: 5px;
  margin: 15px 0px 3px;
  
  /* Ajustes 19/08 */
  margin: 15px -10px 3px;
  width: 210px;
  
  &.first {
    margin-top: 0;
  }
  
  &.parlamentares-aliados {
    margin-bottom: 10px;
  }
}
.like-points {
  margin-bottom: $gutter;
  width: 200px;
  
  .support {
    width: 80px;
    border-left: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
      -moz-box-sizing: border-box; /* Firefox */
    
    .icon {
      width: 22px;
      padding-right: 5px;
      padding-top: 5px;
    }
    .number{
      width: 37px;
      font-size: 16px;
      overflow: hidden;

      .title{
        font-size: 11px;
      }
    }
    
    &.represent {
      width: 115px;
      margin-right: 0;
      
      .icon {
        width: 18px;
      }
      .number {
        width: 79px;
      }
      .tile {
        width: 82px;
      }
    }

    &:hover {
      background: $background_grey;
      cursor: pointer;
      @include boxshadow();
    }
    a {
      color: #333;
      text-decoration: none;
    }
    .cima {
      font-size: 16px;
    }
    .baixo {
      font-size: -2px + $font_size;
      text-align: center;
    }
  }
}

/*Sidebar Right*/
.column_right{
  
}
.ally{
  min-height: 40px;
  width: 200px;
  margin: 0 0 10px;
    
  .photo_ally{
    float: left;
    display: block;
  }
  .description_ally{
    margin-left: 50px;
    text-align: left;
  }
  .flag_ally{
    width: 20px;
  }
}	

/*Devise*/
.session-new{
  margin-top: 85px;
}
.radio{
  width: 110px;
  margin-left: 150px;
}
.password-new{
  margin-top: 110px;
}
/*Error*/
.error-box{
  background: white;
  border-radius: 9px;
  padding: 2*$gutter $gutter;
  margin-top: 70px;
  text-align: center;
  font-size: 2px + $font_size;
  line-height: 22px;
  border: solid 1px lightgrey;
  border-top: 4px solid teal;
  @include boxshadow();
  
  span{
    color: teal;
    font-weight: 700;
  }
}

/*Rodapé*/
#push,
#footer{
    height: 40px;
    margin-top: 20px;
}
#footer {
    padding-top: $gutter;
    text-align: center;
    font-size: -2px + $font_size;
    background: darken($background_grey, 3%);
    
    a{
	color: lighten($primary_color, 5%);
	font-weight: 700;
    }	
    ul.inline {
	li {
  	    padding: 5px 12px;
  	    
  	    &.divider{
  		padding: 0px;
  	    }
	}
    }
}

#flash-area {
    margin-top: 17px;
}

div .alert {
    margin-bottom: 0px;
}

.alliance-button {
    margin-bottom: 20px;
}

.political-info {
    margin-bottom: 10px;
}


/*About*/
.container-about{
    margin-top: 70px;
    padding-bottom: 40px; 
}
.bs-docs-sidebar{
  
  .bs-docs-sidenav {
    width: 228px;
    margin: 20px 0 0;
    padding: 0;
  }
  .bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 10px;
    border-bottom: 1px solid lightgray;
  }
  .bs-docs-sidenav > li:last-child > a {
    border: none;
  }
  .bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  }
  .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{
    background: $primary_color;
    border-radius: 6px;
  }
  
  .bs-docs-sidenav > li > .stat {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 10px;
    border-bottom: 1px solid lightgray;
  }
  
  /* Chevrons */
  .bs-docs-sidenav .icon-chevron-right, .bs-docs-sidenav .icon-chevron-left {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }
  .bs-docs-sidenav .icon-chevron-left {
    float: left;
  }
  .bs-docs-sidenav a:hover .icon-chevron-right, .bs-docs-sidenav a:hover .icon-chevron-left {
    opacity: .5;
  }
  .bs-docs-sidenav.affix {
    top: 80px;
  }
  .bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
  }
  
  .nav > li > a:hover, .nav > li > a:focus{
    background-color: darken($background_grey, 10%);
  }
  
  &.politico_left{
    .bs-docs-sidenav{
      width: inherit;
      margin: 0px;
    }
    .bs-docs-sidenav > li > a {
      padding: 8px 10px;
      
      &.right{
        padding: 8px 4px;
      }
    }
  }
}

/*Contact*/
.contact{
  form{
      width: 460px;
    .input-width{
      width: 446px;
    }
  }
}

/* Delete Icon */
html body {
  .post-name .delete-icon,  {
    font-size: 14px;
  }
}

/* Main Content Toolbar */
.main-content-toolbar {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 10px;
  text-align: right;
  margin-bottom: $gutter;
}


p.inline-links {
  padding: 12px 0;
  text-align: center;
  border-style: solid;
  border-width: 1px 0;
  border-color: #ddd;
  margin-bottom: 20px;
  
  a.active {
    color: #333;
    
    &:hover {
      text-decoration: none;
    }
  }
}

html body .section {
  margin-bottom: $gutter;
}
html body .big-section {
  margin-bottom: 2*$gutter;
}
html body .small-section {
  margin-bottom: -3px + $gutter;
}

html body .alert.alert-content {
  color: #666;
  border: 0;
  font-style: italic;
}

html body .btn-pushed {
    font-style: italic;
}

html body .column_left .btn-alliance {
    width: 105px;
    margin-left: auto;
    margin-right: auto;
}

html body .column_left .btn-follow {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
        -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    filter: none;
}

.ally {
  .post-author-name {
    width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/* Loading */
#ajax-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 48%;
  background: #FFF1A8 -webkit-gradient(linear,left top,left bottom,from(#FFE090),to(#FFF2B0));
  background-color: #FFF1A8;
  margin: 0 auto;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
  box-shadow: rgba(0,0,0,0.246094) 0px -3px 5px,rgba(0,0,0,0.246094) 0px 3px 5px;
    -moz-box-shadow: rgba(0,0,0,0.246094) 0px -3px 5px,rgba(0,0,0,0.246094) 0px 3px 5px;
    -webkit-box-shadow: rgba(0,0,0,0.246094) 0px -3px 5px,rgba(0,0,0,0.246094) 0px 3px 5px;
  z-index: 9000;
  font-size: 14px;
}

form.form-horizontal.devise-signin {
  width: 420px;
  .radio {
    width: auto;
    text-align: left;
    margin-left: 180px;
  }
}

#modal-indicar {
  form {
    margin-bottom: 0;
    
    .btn-cancel {
      margin-top: 0;
    }
  }
  
  h3 {
    text-align: left;
  }
  
  .modal-body {
    padding-bottom: 5px;
    
    ul li {
      margin-bottom: 10px;
      
      &.cleared {
        margin-left: 0;
      }
      
      .item-wrapper {
        padding: 5px;
        border-width: 1px 0;
        border-style: solid;
        border-color: white;
        
        &:hover {
          background: whitesmoke;
        }
        
        &.active {
          border-color: $lighter_primary_color;
          background: lighten($lighter_primary_color, 15%);
        }
      }
      
      label.checkbox {
        margin-bottom: 0;
        text-align: left;
        
        img {
          margin-left: 2px;
          margin-right: 5px;
        }
        
        input {
          margin-top: 14px;
        }
      }
    }
  }
}
#form-search {
  margin-bottom: 20px;
  
  select {
    margin-bottom: 0;
  }
}

/* Modal de Likes */
#modal-likes .modal-body {
  padding-bottom: 0;
}

$users_listing_margin: 15px;
ul.thumbnails.users-listing {
  margin-left: -$users_listing_margin;
  margin-bottom: 0;
  
  li {
    margin-bottom: $users_listing_margin;
    margin-left: $users_listing_margin;
  }
}
/* Fim Modal de Likes */

.post-comment-form {
  margin: 0;
}

html body .comment-trigger {
  margin: 0;
  font-size: 13px;
}

html body .post .new-comment-form.post-comment {
  min-height: 0;
}

html body .btn-toolbar .btn-participe-pushed {
  background-color: $lighter_primary_color;
}

html body #topbar-search button {
  height: 30px;
}

.clean-link {
    a {
        color: #333;
    }   
    a:hover {
        text-decoration: none;
    }   
}

.btn.btn-tutorial {
  background: orange;
  border-color: darkorange;
  color: white;
  text-shadow: 0 1px 0 darkorange;
  
  &:hover {
    background: darkorange;
    color: white;
  }
  
  i.icon {
    margin-bottom: 0;
    margin-top: 3px;
  }
}

.alert.alert-info {
  background: lightyellow;
  border: 0;
  color: #444;
  text-shadow: none;
}

.left-column-edit {
  padding: 6px 0;
  border-color: #DDD;
  border-style: solid;
  border-width: 1px 0;
  text-align: center;
  background: whitesmoke;
  
  &, a {
    display: block;
    color: #666;
    font-size: 13px;
    
    &:hover {
      color: #666;
      background: #E9E9E9;
      text-decoration: none;
    }
  }
  
  i {
    opacity: 0.5;
  }
}

.nav-list .badge {
  color: white;
}

.title-participe {
  margin-bottom: 10px;
}

/*Invite*/
#invite {
  
  h1 {
    margin-bottom: 10px;
  }
  
  .invite-img {
    margin-bottom: 10px;
  }
    
  .btn-social{
    color: white;
    font-size: 17px;
    padding: 10px 0;
    text-shadow: none;
    border: 1px solid #333;
      
    img {
      margin-right: 5px;
      margin-top: -5px;
    }
    
    &.facebook {
      background: #374F8A;
      border-color: darken(#374F8A, 5%);
      
      &:hover {
        background: darken(#374F8A, 10%)
      }
    }
  
    &.twitter {
      background: #0084B4;
      border-color: darken(#0084B4, 5%);
      
      &:hover {
        background: darken(#0084B4, 10%)
      }
    }
  }
}

p.note {
  font-style: italic;
}

dl.dl-horizontal {
  dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  dt, dd {
    margin-bottom: 5px;
  }
  
  dd {
    margin-left: 180px;
  }
}

html body .speak {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEE;
  
  h3 {
    margin: 0 0 5px;
    line-height: 21px;
  }
  
  .row-fluid textarea {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .speak-area.row-fluid {
    border: 1px solid #DDD;
    background: whitesmoke;
    border-radius: 3px;
    
    textarea {
      border: 0;
      border-radius: 3px 3px 0 0;
      min-height: 60px;
    }
  }
  
  .speak-file {
    padding: 9px 14px 14px;
    border-top: 1px solid #DDD;
    
    label {
      font-weight: bold;
      display: block;
      font-size: 13px;
      margin-bottom: 2px;
    }
    
    input {
      background: transparent;
      box-shadow: none;
      padding: 0;
      border: 0;
      height: auto;
      font-size: 13px;
      line-height: 1.428571429;
    }
  }
  
  .speech {
    text-align: right;
    margin-top: 10px;
    
    input, button {
      margin-bottom: 0;
    }
  }
  
  img.speech {
    display: none;
  }
}

.align-center {
  text-align: center;
}

.modal-loading {
  padding: 90px 0;
}

/* Spinner */
.spinner {
  height:60px;
  width:60px;
  margin:0px auto;
  position:relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,128,128,.15);
  border-right:6px solid rgba(0,128,128,.15);
  border-bottom:6px solid rgba(0,128,128,.15);
  border-top:6px solid rgba(0,128,128,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

/* Facebook */
.btn.btn-facebook {
  @include degrade(#4c66a4, darken(#4c66a4, 5%));
  color: white;
  text-shadow: 0 1px 1px darken(#4c66a4, 10%);
  border: 1px solid darken(#4c66a4, 10%);
  border-bottom-color: darken(#4c66a4, 20%);
  
  &:hover {
    @include degrade(darken(#4c66a4, 10%), darken(#4c66a4, 10%));
    color: white;
  }
}

.align-center {
  text-align: center;
}
p.button-help {
  margin-top: 6px;
  color: #777;
  width: 100%;
  font-style: italic;
}

p.empty-alert {
  font-style: italic;
}

/* Dropdowns */
.dropdown .dropdown-title {
  border-bottom: 1px solid whitesmoke;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  
  span {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 11px 4px;
  }
}

.dropdown-menu.dropdown-with-header {
  padding-top: 0;
}

.dropdown-menu.dropdown-fat {
  padding: 0;
  
  > li {
    border-bottom: 1px solid whitesmoke;
    
    a {
      padding: 8px 15px;
    }
    
    &.dropdown-title span {
      padding: 5px 15px;
    }
    
    &:last-child {
      border-bottom: 0;
      
      a {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

body .dropdown-menu > li > a:hover {
  background: whitesmoke;
  color: #333;
}

body .dropdown-menu > li > a:hover .glyphicon.icon-facebook, .glyphicon.icon-facebook {
  margin-top: 2px;
  background: image_url('ico-facebook-grey.png') no-repeat;
}
body .dropdown-menu > li > a:hover .glyphicon.icon-twitter, .glyphicon.icon-twitter {
  margin-top: 2px;
  background: image_url('ico-twitter-grey.png') no-repeat;
}

/* Tooltip */
body .tooltip .tooltip-inner {
  background: rgba(0, 128, 128, 0.9);
}
body .tooltip.top .tooltip-arrow {
  border-top-color: rgba(0, 128, 128, 0.9);
}

.dl-horizontal-answers dd {
  font-style: italic;
}

.admin-toolbar {
  margin-top: -10px;
}

body .no-bottom-margin {
  margin-bottom: 0;
}

.convidar-parlamentares-sidebar {
  margin-top: 30px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
