$gutter: 20px;
$background_grey: whitesmoke;
$primary_color: teal;
$lighter_primary_color: #afd1d1;
$font_color: #333333;
$font_grey: #807e7f;
$font_grey_dark: #414141;
$font_size: 14px;



@mixin boxshadow(){
  box-shadow: -2px 2px 1px 1px rgba(25, 25, 25, 0.1);
    -webkit-box-shadow: -2px 2px 1px 1px rgba(25, 25, 25, 0.1);
}
@mixin boxshadow-topbar(){
  -webkit-box-shadow: -2px 2px 2px 1px rgba(25, 25, 25, 0.1);
  box-shadow: -2px 2px 2px 1px rgba(25, 25, 25, 0.2);
}
@mixin primary-gradient(){
  background-image: linear-gradient(to bottom, #469093, #017d7f);
}
@mixin primary-gradient-dark(){
  background-image: linear-gradient(to bottom, #286164, #005152);
}
@mixin degrade($top, $bottom) {
  background-color: #{$top} ;
  background-image: -moz-linear-gradient(top, #{$top}, #{$bottom});
  background-image: -ms-linear-gradient(top, #{$top}, #{$bottom});
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#{$top}), to(#{$bottom}));
  background-image: -webkit-linear-gradient(top, #{$top}, #{$bottom});
  background-image: -o-linear-gradient(top, #{$top}, #{$bottom});
  background-image: linear-gradient(top, #{$top}, #{$bottom});
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$top}, endColorstr=#{$bottom}, GradientType=0);
}
@mixin break-word {
  -ms-word-break: break-all;
   word-break: break-all;
   word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
}
