= simple_form_for([:admin, @newsletter]) do |f|
  .row-fluid
    = f.input :subject, input_html: { class: 'span12' }
  .row-fluid
    = f.input :content, input_html: { class: 'span12 simple-autosize' }
  
  .form-actions
    - if !@newsletter.published?
      = f.submit "Salvar", class: 'btn btn-primary'
    
    = f.submit "Salvar e Enviar", class: 'btn btn-warning pull-right'
