#content-index
  .container.container-main
    .row
      .span3
        = render 'admin/partials/left_column'
      
      .span6.main-content
        .page-header
          %h1 Administração: Editar Newsletter
          
        = render 'form'
        
        %p
          Insatisfeito? 
          = link_to 'Excluir esta Newsletter', admin_newsletter_path(@newsletter), method: :delete, data: { confirm: 'Tem certeza disto?' }
          
      .span3
        = render 'admin/partials/right_column'