#content-index
  .container.container-main
    .row
      .span3
        = render 'admin/partials/left_column'
      
      .span6.main-content
        .page-header
          %h1 Administração: Newsletters
          
        .admin-toolbar
          = link_to new_admin_newsletter_path, class: 'btn btn-primary' do
            %i.icon.icon-plus.icon-white
            Criar Newsletter
        
          %hr
          
        %table.table.table-striped
          %thead
            %tr
              %th Nome
              %th Data
              %th Envio
          %tbody
            - @newsletters.each do |n|
              %tr
                %td= link_to n.subject, edit_admin_newsletter_path(n)
                %td= n.created_at.strftime("%d/%m/%y")
                %td= n.published_at.strftime("%d/%m/%y")
                
        = paginate @newsletters
          
      .span3
        = render 'admin/partials/right_column'