#content-index
  .container.container-main
    .row
      .span3
        = render 'admin/partials/left_column'
      
      .span6.main-content
        .page-header
          %h1 Administração: Criar Newsletter
          
        = render 'form'
          
      .span3
        = render 'admin/partials/right_column'