%p 
	Bem-vinda(o)
	= @email

%p Você pode confirmar seu registro no sítio web do EuParticipo clicando no link abaixo.

%p
	= link_to 'Confirme minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p Obrigado!