<p>Olá, <%= @resource.email %>,</p>

<p>Foi requisitado ao sítio web do EuParticipo reiniciar a senha de sua conta. Você pode fazê-lo clicando no link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou essa mudança, por favor, ignore esse email.</p>
<p>Sua senha não mudará até que você acesse o link e crie uma nova senha.</p>
