= simple_form_for([:admin, @absent_politician], html: {class: 'no-bottom-margin'}) do |f|
  = f.input :name
  = f.input :email
  = f.input :political_position, collection: [['Vereador', 'Vereador'],
                                                ['Deputado Estadual', 'Deputado Estadual'],
                                                ['Deputado Federal', 'Deputado Federal'],
                                                ['Senador', 'Senador']]
  - if !@absent_politician.photo.blank?
    .control-group
      %label.control-label Foto Atual
      .controls
        = image_tag @absent_politician.photo.url
  
  = f.input :photo, label: "Subir foto"
    
  .form-actions
    = submit_tag 'Salvar', class: 'btn btn-primary'
    - if !@absent_politician.id.blank?
      = link_to 'Excluir', 
                admin_absent_politician_path(@absent_politician), 
                class: 'btn btn-danger pull-right', 
                method: :delete, 
                data: {confirm: 'Tem certeza disto?'}
  
  