= simple_form_for([:admin, @absent_politician], html: {class: 'no-bottom-margin'}) do |f|
  .modal-header
    %button{type:"button", class:"close", data: {dismiss:"modal"}, aria: {hidden:"true"}}
      &times;
    %h3
      Adicionar Registro
      
  .modal-body
    = f.input :name
    = f.input :email
    = f.input :political_position, collection: [['Vereador', 'Vereador'],
                                                ['Deputado Estadual', 'Deputado Estadual'],
                                                ['Deputado Federal', 'Deputado Federal'],
                                                ['Senador', 'Senador']]
    = f.input :photo, label: "Subir foto"
    
  .modal-footer
    = link_to 'Fechar', '#', class: 'btn btn-cancel', data: {dismiss: 'modal'}
    = submit_tag 'Adicionar', class: 'btn btn-primary pull-left'