<%- if @absent_politician.errors.any? %>
  $('#modal-add').html("<%= j render 'modal_content' %>")
<% else %>
$('#modal-add').modal('hide')
$('#modal-add form')[0].reset()
$('#modal-add form .control-group').removeClass('error')
$('#modal-add form .help-inline').remove()
$('table.table-striped tbody').prepend("<%= j render 'row', politician: @absent_politician %>")
<% end %>
