#content-index
  .container.container-main
    .row
      .span3
        = render 'admin/partials/left_column'
      
      .span6.main-content
        .page-header
          %h1 Administração: Políticos Ausentes
          
        .admin-toolbar
          = link_to '#modal-add', class: 'btn btn-primary', id: 'add-absent-politician', data: {toggle: :modal} do
            %i.icon.icon-plus.icon-white
            Adicionar Registro
        
          %hr
          
        %table.table.table-striped
          %thead
            %tr
              %th
                Nome
              %th
                Cargo
          %tbody
            - @politicians.each do |p|
              = render 'row', politician: p
                
        = paginate @politicians
          
      .span3
        = render 'admin/partials/right_column'

#modal-add.modal.hide
  = render 'modal_content'
