#footer
  .container
    .pull-left
      Desenvolvido por 
      %strong
        EuParticipo
      ® 2013 | Todos os direitos reservados.
    %ul.inline.pull-right
      %li
        %a{href: about_path}
          Sobre
      %li.divider &middot;
      %li
        %a{href: terms_path}
          Termos de Uso
      %li.divider &middot;
      %li
        %a{href: privacy_path}
          Política de Privacidade 
      %li.divider &middot;
      %li
        %a{href: contact_path}
          Contato