.span3
  = link_to (image_tag 'logo-wide.png', :class => 'logo'), root_path

.span9
  %ul.margin-topbar

    - if user_signed_in?
      %li.link-news
        = link_to notifications_path do
          - if @notifications_count && @notifications_count > 0
            = image_tag 'ico-news-lighten.png'
            %span.badge.badge-important= @notifications_count
          - else
            = image_tag 'ico-news.png'
            
    %li
      %form{action: busca_users_path, method: 'get', id: 'topbar-search'}
        .input-append
          %input.appendedInputButton{:type => "text", :name => 'q', :value => params[:q]}
          %button.btn.btn-primary{:type => "submit"} Buscar
          
    - if user_signed_in?
      %li
        = link_to 'Perfil', user_path(current_user.token)
      %li
        = link_to 'Mural', root_path
      %li
        = link_to 'Convide +1', invite_path
            
    - if user_signed_in?
      %ul.nav.nav-pills.pull-right
        %li.dropdown
          %a#drop3.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = image_tag 'ico-profile.png'
            %b.caret.caret-topbar
          %ul.dropdown-menu
            %li= link_to 'Editar Dados', edit_user_path(current_user)
            %li= link_to 'Editar Senha', edit_password_user_path(current_user)
            %li= link_to 'Preferências de Email', preferences_path
            %li= link_to 'Sair', destroy_user_session_path
    - else
      %li#topbar-right-not-logged
        = link_to 'Registrar-se', new_user_registration_path, class: 'btn btn-primary'
        = link_to 'Entrar', new_user_session_path, class: 'btn btn-primary'