!!!
%html
  %head
    - if content_for?(:title)
      %title= yield :title
      %meta{property: 'og:title', content: (yield :title)}
      %meta{name: 'twitter:title', content: (yield :title)}
      %meta{itemprop: 'name', content: (yield :title)}
    - else
      %title EuParticipo - Rede Social de Política
    
    - if content_for?(:description)
      %meta{name: 'description', content: (yield :description)}
      %meta{property: 'og:description', content: (yield :description)}
      %meta{name: 'twitter:description', content: (yield :description)}
      %meta{itemprop: 'description', content: (yield :description)}
    - else
      - description = "Junte-se a maior rede social sobre política do Brasil."
      %meta{name: 'description', content: description}
      %meta{property: 'og:description', content: description}
      %meta{name: 'twitter:description', content: description}
      %meta{itemprop: 'description', content: description}      

    - if content_for?(:image)
      %meta{property: 'og:image', content: (yield :image)}
      %meta{name: 'twitter:image', content: (yield :image)}
      %meta{itemprop: 'image', content: (yield :image)}
    
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    #wrap.wrap-profile
      #top-bar
        .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner
            .container
              .row
                = render 'layouts/topbar'

      #flash-area
        .container
          - if notice
            .alert.alert-block
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = notice
          - elsif alert
            .alert.alert-block
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = alert
          - elsif flash[:error]
            .alert.alert-error
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = flash[:error]
          - elsif flash[:success]
            .alert.alert-success
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = flash[:success]

      = yield

      #push

    = render 'layouts/footer'

    #ajax-loading
      Aguarde...
      
    = render 'scripts/ga'
