!!!
%html
  %head
    %title EuParticipo - Rede Social de Política
    %meta{name: 'description', content: 'EuParticipo é uma rede social que visa reinventar a política brasileira. Junte-se a nós e venha fazer parte dessa mudança!'}
    
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    #wrap
      #top-bar
        .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner
            .container
              .row
                .span12
                  = link_to (image_tag 'logo-wide.png', :class => 'logo'), root_path

      .container.container-main
        - if notice
          %br
          .alert.alert-block
            %button.close{type: 'button', data: {dismiss: "alert"}} &times;
            = notice
        - elsif alert
          %br
          .alert.alert-block
            %button.close{type: 'button', data: {dismiss: "alert"}} &times;
            = alert
        - elsif flash[:error]
          %br
          .alert.alert-error
            %button.close{type: 'button', data: {dismiss: "alert"}} &times;
            = flash[:error]
        - elsif flash[:success]
          %br
          .alert.alert-success
            %button.close{type: 'button', data: {dismiss: "alert"}} &times;
            = flash[:success]

        .clean-content{style: "margin-top: 35px"}
          = yield

      #push

    =render 'layouts/footer'

    #ajax-loading
      Aguarde...
      
    = render 'scripts/ga'