!!!
%html
  %head
    %title EuParticipo
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    #wrap
      #top-bar
        .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner
            .container
              .row
                .span12
                  = link_to (image_tag 'logo-wide.png', :class => 'logo'), root_path

      #flash-area
        .container
          - if notice
            .alert.alert-block
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = notice
          - elsif alert
            .alert.alert-block
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = alert
          - elsif flash[:error]
            .alert.alert-error
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = flash[:error]
          - elsif flash[:success]
            .alert.alert-success
              %button.close{type: 'button', data: {dismiss: "alert"}} &times;
              = flash[:success]

      .container
        .row
          .span6.video
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300",
                    :src => "//www.youtube.com/embed/U0CYs3lij98", :width => "400"}
          .span6.form
            = yield
      #push

    =render 'layouts/footer'
    
    #ajax-loading
      Aguarde...

    = render 'scripts/ga'