!!! 5
%html
  %head
    %title EuParticipo
  %body{:style => "font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background: whitesmoke; margin: 0;"}
    %div{:style => 'width: 680px; margin: 0 auto;'}
      %div{:style => 'background: teal; text-align: left; padding: 10px; border-bottom: solid 4px #e5e5e5'}
        = image_tag asset_path("logo-wide.png"), :style => "margin-bottom: -38px;"
      %div{:style => 'padding: 40px 20px; color: #999999; background: #f7f7f7;'}
        = yield
      %div{:style => 'background: #e5e5e5; text-align: center; padding: 10px; border-top: solid 7px #e5e5e5; color: #666666'}
        %div{:style => 'font-size:12px; padding: 10px; line-height: 20px;'}
          O EuParticipo respeita a sua privacidade e é contra o spam na rede.
          %br
          Não quer mais receber emails assim? Atualize suas 
          = link_to 'Preferências de e-mail.', preferences_url