<!DOCTYPE html>
<html prefix='og: http://ogp.me/ns#'>
<head>
  <title>EuParticipo - Rede Social de Política</title>
  <meta name='description' content='EuParticipo é uma rede social que visa reinventar a política brasileira. Junte-se a nós e venha fazer parte dessa mudança!' />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta property='og:image' content="<%= asset_url('logo-square.png') %>" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= render 'scripts/ga' %>

</body>
</html>
